<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Providers.Local.Seach.Properties.Settings.PARTConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=PART;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>