<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdateLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <applicationSettings>
        <UpdateLib.Properties.Settings>
            <setting name="CPRBrokerPartServiceUrl" serializeAs="String">
                <value>http://cprbroker/Services/Part.asmx</value>
            </setting>
            <setting name="PollInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ApplicationToken" serializeAs="String">
                <value>F6CC382C-DD47-494D-93AD-5FCDD3D97915</value>
            </setting>
        </UpdateLib.Properties.Settings>
    </applicationSettings>
  
</configuration>
