<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="C66AD53A-395C-4471-A4DA-7D69F689F832" Name="Person Master" Language="1033" Version="2.0.0.0" Manufacturer="ITST" UpgradeCode="016e932b-5404-4626-ba78-7347a4cb9cc1">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <PropertyRef Id="Dummy_DialogsFragmentRefProp"/>
    <PropertyRef Id="Dummy_ConditionsFragmentRefProp"/>
    <PropertyRef Id="Dummy_DatabasePatchFragmentRefProp"/>
    <PropertyRef Id="Dummy_WebPatchFragmentRefProp"/>
    <PropertyRef Id="Dummy_StandardActionTextFragmentRefProp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Person Master">

        </Directory>
      </Directory>
    </Directory>

    <PropertyRef Id="Dummy_CustomizationsFragmentRefProp"/>

    <Upgrade Id="016e932b-5404-4626-ba78-7347a4cb9cc1">
      <!--Detect old version -->
      <UpgradeVersion Property="OLDER_VERSION_DETECTED" Maximum="2.0.0.0" IncludeMaximum="no" OnlyDetect="yes"></UpgradeVersion>

      <!--Detect newer versions, set a property that triggers a condition failure -->
      <UpgradeVersion Property="NEWER_VERSION_DETECTED" Minimum="2.0.0.0" IncludeMinimum="no" OnlyDetect="yes"></UpgradeVersion>
    </Upgrade>

    <Feature Id="ProductFeature" Title="PersonMasterInstaller" Level="1">
      <ComponentRef Id="CMP_WebRegistry"/>
      <ComponentRef Id="CMP_DatabaseRegistry"/>
      <ComponentRef Id="CMP_MsiZap"/>

      <ComponentGroupRef Id="CMPGRP_Root"/>
      <ComponentGroupRef Id="CMPGRP_bin"/>
      <ComponentGroupRef Id="CMPGRP_css"/>

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
  </Product>
</Wix>