<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="UpgradesFragment">
    <Property Id="Dummy_UpgradesFragmentRefProp" Value="-" />


    <Upgrade Id="016e932b-5404-4626-ba78-7347a4cb9cc1">
      <!--Detect old version not configured for updates-->
      <UpgradeVersion Property="OLD_VERSION_FOUND" Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="1.0.0.0" IncludeMaximum="yes" OnlyDetect="yes"></UpgradeVersion>

      <!--Detect newer versions, set a property that triggers a condition failure -->
      <UpgradeVersion Property="NEWER_VERSION_FOUND" Minimum="1.1.0.0" IncludeMinimum="no" OnlyDetect="yes"></UpgradeVersion>
    </Upgrade>

    
    <!-- Forget about specific previous versions that drop the database on uninstall-->
    <Binary Id="BIN_MsiZap" SourceFile="Resources\MsiZap.exe"/>

    <CustomAction Id="CA_ForgetPreviousVersion_1" BinaryKey="BIN_MsiZap" ExeCommand="TWA! {58CEAB38-8AA5-4A40-BF57-7A27A6C0CB98}" Execute="commit" Return="ignore" Impersonate="no"/>
    <CustomAction Id="CA_ForgetPreviousVersion_2" BinaryKey="BIN_MsiZap" ExeCommand="TWA! {ddb79617-a985-4841-9626-22779ded8d13}" Execute="commit" Return="ignore" Impersonate="no"/>

    <InstallExecuteSequence>
      <Custom Action="CA_ForgetPreviousVersion_1" Before="InstallFinalize"/>
      <Custom Action="CA_ForgetPreviousVersion_2" Before="InstallFinalize"/>
    </InstallExecuteSequence>

  </Fragment>
</Wix>