<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.Config.DataProviderKeysSection, CprBroker.Utilities"/>
      <section name="dataProviders" type="CprBroker.Utilities.Config.DataProvidersConfigurationSection, CprBroker.Utilities"/>
    </sectionGroup>
    <section name="tasks" type="CprBroker.Utilities.Config.TasksConfigurationSection, CprBroker.Utilities"/>
  </configSections>

  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>orOInV68nJDoSt+dSTXHdZ6gRySF73a4eltX1k5Uq+Go1SC+kDaRIyJY1Qz/c0lKD5es68pMMUs62iECACuvYvU4EWXMEeyUJzr7amPlXaK8tEUfL+MwWxxbN30/r8B5opuEktY0yItu/U+UBEzXZCsmI2YhiltpYkUOI3c94ts=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>Ged9kYmrJAWIImOVcwm0WTPPtFneBFclFYIaBjPBCu923SKdYJVhYLfPJ8lOiafKm+YlsLDlxwhBLTGru9ncImsYVx/wi13T3kmspeF9OIkY3C1hdJcT8PkfPOUYvXk30DnfFd9JKDdSDMrQmzFZ+lmOx2k02njytgpYACkXgt8viPIfk8iFjD+0ueQbWPmfeM6WTpmRsT6F9qXBttNRUgV+l/o9I2iRM3FJG4ojKs8Wk++juSIyC3stnAZQ1G8A+/p1yauJcSfqZGARkwvVB+tLCSMIbitnBysgW1GSMle6knmPZXrJUXgKH9s7YVnjBeXf+j3QtfvVW8+klS7EdBBy4+DeaZGIND9HA4kLRURgw7FWH5mCjs/p+Bi3Kz0lda2Be6m8D1y2fIu7pdxvBtRlFUCKpx5GHR5pi3g+21VEiVaGML9r+ZeN5VSiViVi2MM19gnUdzg=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
  </dataProvidersGroup>

  <tasks>
    <autoLoaded>
      <add type="CprBroker.EventBroker.Notifications.BirthdateEventEnqueuer, CprBroker.EventBroker" runEvery="1.00:00:00" batchSize="1000" logTimerEvents="true"/>
      <add type="CprBroker.EventBroker.Notifications.DataChangeEventPuller, CprBroker.EventBroker" batchSize="100"/>
      <add type="CprBroker.EventBroker.Notifications.CriteriaSubscriptionPersonPopulator, CprBroker.EventBroker" batchSize="200"/>
      <add type="CprBroker.EventBroker.Notifications.DataChangeEventEnqueuer, CprBroker.EventBroker" batchSize="100"/>
      <add type="CprBroker.EventBroker.Notifications.NotificationSender, CprBroker.EventBroker" batchSize="10"/>
      <add type="CprBroker.EventBroker.Notifications.CPRDirectDownloader, CprBroker.EventBroker" runEvery="1:00:00"/>
      <add type="CprBroker.EventBroker.Notifications.CPRDirectExtractor, CprBroker.EventBroker" batchSize="1000"/>
      <add type="CprBroker.EventBroker.Notifications.CprDirectCleaner, CprBroker.EventBroker" runEvery="1:00:00"/>
      <add type="CprBroker.EventBroker.Notifications.BudgetChecker, CprBroker.EventBroker" runEvery="1:00:00"/>
      <add type="CprBroker.Engine.Tasks.QueueExecutionManager, CprBroker.Engine"/>
      <add type="CprBroker.DBR.DprDiversionManager, CprBroker.DBR"/>
      <add type="CprBroker.Providers.DPR.Queues.DprEnqueuer, CprBroker.Providers.DPR" runEvery="0:00:30"/>
      <add type="CprBroker.Providers.CprServices.PasswordUpdater, CprBroker.Providers.CprServices" runEvery="0:00:30"/>
    </autoLoaded>
  </tasks>

  <applicationSettings>
    <CprBroker.Config.Properties.Settings>
      <setting name="EventsServiceUrl" serializeAs="String">
        <value>http://CprBroker/Services/Events.asmx</value>
      </setting>
      <setting name="Log4NetConfig" serializeAs="String">
        <value>log4net.config</value>
      </setting>
    </CprBroker.Config.Properties.Settings>
  </applicationSettings>

  <connectionStrings>
    <add name="CprBroker.Config.Properties.Settings.EventBrokerConnectionString" connectionString="Data Source=SQLServer;Initial Catalog=PartEventBroker;User ID=cpr;Password=cpr"/>
    <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString" connectionString="Data Source=SQLServer;Initial Catalog=PART;User ID=cpr;Password=cpr"/>
  </connectionStrings>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">

    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile"/>
        </listeners>
      </errors>

      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="CprDatabase"/>
          <add name="EventLog"/>
          <!--<add name="Email" />-->
        </listeners>
      </allEvents>
    </specialSources>

    <listeners>
      <add name="CprDatabase" type="CprBroker.Engine.Trace.LocalTraceListener, CprBroker.Engine" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"/>
      <add name="EventLog" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" source="CPR Broker" formatter="Text Formatter" filter="Critical"/>
      <add name="FlatFile" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" fileName="C:\CPR Broker.log" header="___________________________________________"/>
      <!--<add name="Email"         
         toAddress="to@company.com"
        fromAddress="from@company.com"
        subjectLineStarter="CPR Broker CPR Service"
        subjectLineEnder=""
        smtpServer="smtp.company.com"
        smtpPort="25"
        formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
      />-->
    </listeners>

    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"/>
    </formatters>

  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
