<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CprBroker.PartInterface.Tracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.Config.DataProviderKeysSection, CprBroker.Utilities" />
      <section name="dataProviders" type="CprBroker.Utilities.Config.DataProvidersConfigurationSection, CprBroker.Utilities" />
    </sectionGroup>
    <section name="tasks" type="CprBroker.Utilities.Config.TasksConfigurationSection, CprBroker.Utilities" />
  </configSections>

  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>piT3+BJr0P4J0OsmQio+HcHsmYBU5J0dbjqx+EiJnXtSFLAR373qMsoTeftQ9s5/NdkaqL3D+fzo+bj0DwgVzwVjR1mSyRkmvkVtDXlDEfNzJ5CqggWB4x917Rqd1EYpEdtEk7nub4W9yLRhS0wEwCMZCmJdmK01EBoRdi6dj9XWrfRuAxrnWUhjEtCS2ARNgBtj0Yrt/T8lIprvAme7HQeUxhEk9D2kQiAvnH1v4CJa1DKDpmSWZGxJIh2oBI6NuILd00a1qJC9X5atAP1jSsyd4YTlVnXje0h9uNyA8Y1gXcgVvitS6v1tIgsza+YZ9vWq8rjo+o3UmN1jzMU7QA==</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>aeYg4a1s6jPb303GG6ljffvoeV1mcZBqA0m0DeiFBEpAzAoDrTzuh+8OZdiy3ry/Rh03gv6MrDQcypUC23oI+dwmFI05EDHpdZAL3NfYq7ciHecmXd+4fTF7DIu4RlQlBlng9057nj1ankIi0bQ2i9uiCiTmCc2MdnX9wcfFrxMjCyGc6yzFW/XhxnwWaom+l0601vgA+kDJBgfTAqkTpaYvPgYdccZULcjcIErB+in4+GARQyL58BcjRbCgub5Av6f+ID8+m5gBdtqVMlbzGeEwC2ok0gSOH41BoN422VMx+He169Dgxvk7Mzi9sIKuL9epKRSu8HsXQD03SGZKEoAN41S/Ofw3BcNGaM5Ts4qsVudJv0UdJfqb9ikDc/mjkgKwiQv4bFii2kAsDxTryR+AS2C+YE46U4+BlTzwRukobyZRPT+c9wN50eCtQ6mxbg23fk+uElM=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
  </dataProvidersGroup>

  <tasks>
    <autoLoaded>
      <add type="CprBroker.EventBroker.Notifications.BirthdateEventEnqueuer, CprBroker.EventBroker" runEvery="1.00:00:00" batchSize="1000" logTimerEvents="true" />
      <add type="CprBroker.EventBroker.Notifications.DataChangeEventPuller, CprBroker.EventBroker" batchSize="100" />
      <add type="CprBroker.EventBroker.Notifications.CriteriaSubscriptionPersonPopulator, CprBroker.EventBroker" batchSize="200" />
      <add type="CprBroker.EventBroker.Notifications.DataChangeEventEnqueuer, CprBroker.EventBroker" batchSize="100" />
      <add type="CprBroker.EventBroker.Notifications.NotificationSender, CprBroker.EventBroker" batchSize="10" />
      <add type="CprBroker.EventBroker.Notifications.CPRDirectDownloader, CprBroker.EventBroker" runEvery="1:00:00" />
      <add type="CprBroker.EventBroker.Notifications.CPRDirectExtractor, CprBroker.EventBroker" batchSize="1000" />
      <add type="CprBroker.EventBroker.Notifications.CprDirectCleaner, CprBroker.EventBroker" runEvery="1:00:00" />
      <add type="CprBroker.EventBroker.Notifications.BudgetChecker, CprBroker.EventBroker" runEvery="1:00:00" />
      <add type="CprBroker.Engine.Tasks.QueueExecutionManager, CprBroker.Engine" />
      <add type="CprBroker.DBR.DprDiversionManager, CprBroker.DBR" />
      <add type="CprBroker.Providers.DPR.Queues.DprEnqueuer, CprBroker.Providers.DPR" runEvery="0:00:30" />
      <add type="CprBroker.PartInterface.Tracking.CleanupDetectionEnqueuer, CprBroker.PartInterface.Tracking" runEvery="0:30:00" batchSize="1000" logTimerEvents="true"/>
    </autoLoaded>
  </tasks>

  <applicationSettings>
    <CprBroker.PartInterface.Tracking.Properties.Settings>
      <setting name="ExcludedMunicipalityCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <!--string>0000</string-->
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaxInactivePeriod" serializeAs="String">
        <value>90.00:00:00</value>
      </setting>
      <setting name="DprEmulationRemovalAllowance" serializeAs="String">
        <value>7.00:00:00</value>
      </setting>
    </CprBroker.PartInterface.Tracking.Properties.Settings>
    <CprBroker.Config.Properties.Settings>
      <setting name="EventsServiceUrl" serializeAs="String">
        <value>http://CprBroker/Services/Events.asmx</value>
      </setting>
      <setting name="Log4NetConfig" serializeAs="String">
        <value>log4net.config</value>
      </setting>
    </CprBroker.Config.Properties.Settings>
  </applicationSettings>

  <connectionStrings>
    <add name="CprBroker.Config.Properties.Settings.EventBrokerConnectionString" connectionString="Data Source=LAPTOP-MKA7N8GT\SQLEXPRESS;Initial Catalog=PartEventBroker;User ID=cpr;Password=cpr" />
    <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString" connectionString="Data Source=LAPTOP-MKA7N8GT\SQLEXPRESS;Initial Catalog=PART;User ID=cpr;Password=cpr" />
  </connectionStrings>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">

    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile" />
        </listeners>
      </errors>

      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="CprDatabase" />
          <add name="EventLog" />
          <!--<add name="Email" />-->
        </listeners>
      </allEvents>
    </specialSources>

    <listeners>
      <add name="CprDatabase" type="CprBroker.Engine.Trace.LocalTraceListener, CprBroker.Engine" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add name="EventLog" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" source="CPR Broker" formatter="Text Formatter" filter="Critical" />
      <add name="FlatFile" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" fileName="C:\CPR Broker.log" header="___________________________________________" />
      <!--<add name="Email"         
         toAddress="to@company.com"
        fromAddress="from@company.com"
        subjectLineStarter="CPR Broker CPR Service"
        subjectLineEnder=""
        smtpServer="smtp.company.com"
        smtpPort="25"
        formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
      />-->
    </listeners>

    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" />
    </formatters>

  </loggingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
