<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="DatabaseDialog" Width="370" Height="270" Modeless="no" Title="!(loc.DatabaseDialog_Title)">

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.DatabaseDialogTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.DatabaseDialogDescription)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.DatabaseDialogBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!--Server name-->
        <Control Id="serverLabel" Type="Text" Text="Server name" X="10" Y="60" Width="60" Height="17"/>
        <Control Id="serverEdit" Type="Edit" Property="DB_SERVERNAME" X="70" Y="60" Width="70" Height="17"/>

        <!--Ecryption key-->
        <Control Id="encryptionKeyLabel" Type="Text" Text="Encryption Key" X="150" Y="60" Width="60" Height="17">
          <Condition Action="show" ><![CDATA[DB_EncryptionKeyEnabled = "True" ]]></Condition>
          <Condition Action="hide" ><![CDATA[DB_EncryptionKeyEnabled <> "True" ]]></Condition>
        </Control>
        <Control Id="encryptionKeyEdit" Type="Edit" Property="DB_ENCRYPTIONKEY" X="210" Y="60" Width="70" Height="17">
          <Condition Action="show" ><![CDATA[DB_EncryptionKeyEnabled = "True" ]]></Condition>
          <Condition Action="hide" ><![CDATA[DB_EncryptionKeyEnabled <>"True" ]]></Condition>
        </Control>

        <!--Database name-->
        <Control Id="databaseText" Type="Text" Text="Database name" X="10" Y="80" Width="60" Height="17"/>
        <Control Id="databaseEdit" Type="Edit" Property="DB_DATABASENAME" X="70" Y="80" Width="70" Height="17"/>

        <!--Domain-->
        <Control Id="DomainLabel" Type="Text" Text="Domain" X="150" Y="80" Width="60" Height="17">
          <Condition Action="show" ><![CDATA[DB_DomainEnabled = "True" ]]></Condition>
          <Condition Action="hide" ><![CDATA[DB_DomainEnabled <> "True" ]]></Condition>
        </Control>
        <Control Id="domainEdit" Type="Edit" Property="DB_DOMAIN" X="210" Y="80" Width="70" Height="17">
          <Condition Action="show" ><![CDATA[DB_DomainEnabled = "True" ]]></Condition>
          <Condition Action="hide" ><![CDATA[DB_DomainEnabled <> "True" ]]></Condition>
        </Control>

        <!--Admin group box-->
        <Control Id="adminGroupBox" Type="GroupBox" Text="Admin connection" X="10" Y="110" Width="150" Height="120"/>

        <!--Admin login type-->
        <Control Id="adminLoginType" Type="RadioButtonGroup" Property="DB_ADMININTEGRATEDSECURITY" X="15" Y="145" Width="150" Height="40">
          <RadioButtonGroup Property="DB_ADMININTEGRATEDSECURITY">
            <RadioButton Text="Integrated windows authentication" X="0" Y="0"  Width="140" Height="17" Value="True"/>
            <RadioButton Text="SQL Server authentication" X="0" Y="20" Width="140" Height="17" Value="False"/>
          </RadioButtonGroup>
        </Control>

        <!--Admin username-->
        <Control Id="adminUserNameText" Type="Text" Text="User Id" X="20" Y="185" Width="40" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="True"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"True"]]></Condition>
        </Control>
        <Control Id="adminUserNameEdit" Type="Edit" Property="DB_ADMINUSERNAME" X="60" Y="185" Width="95" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="True"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"True"]]></Condition>
        </Control>

        <!--Admin password-->
        <Control Id="adminPasswordText" Type="Text" Text="Password" X="20" Y="205" Width="40" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="True"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"True"]]></Condition>
        </Control>
        <Control Id="adminPasswordEdit" Type="Edit" Property="DB_ADMINPASSWORD" Password="yes" X="60" Y="205" Width="95" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="True"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"True"]]></Condition>
        </Control>

        <!--Application group box-->
        <Control Id="appGroupBox" Type="GroupBox" Text="Application connection" X="170" Y="110" Width="150" Height="120"/>

        <Control Id="appSameAsAdminCheck" Type="CheckBox" Text="Same as admin" Property="DB_APPSAMEASADMIN" CheckBoxValue="True" X="175" Y="125" Width="75" Height="17">
          <Condition Action="show"><![CDATA[DB_AppIntegratedSecurityAllowed = "True"]]></Condition>
          <Condition Action="hide"><![CDATA[DB_AppIntegratedSecurityAllowed <> "True"]]></Condition>
        </Control>

        <!--Application login type-->
        <Control Id="appLoginType" Type="RadioButtonGroup" Property="DB_APPINTEGRATEDSECURITY" X="175" Y="145" Width="150" Height="40">
          <RadioButtonGroup Property="DB_APPINTEGRATEDSECURITY">
            <RadioButton Text="Integrated windows authentication" X="0" Y="0"  Width="140" Height="17" Value="True"/>
            <RadioButton Text="SQL Server authentication" X="0" Y="20" Width="140" Height="17" Value="False"/>
          </RadioButtonGroup>
          <Condition Action="enable"><![CDATA[Not DB_APPSAMEASADMIN]]></Condition>
          <Condition Action="disable"><![CDATA[DB_APPSAMEASADMIN]]></Condition>
          <Condition Action="show"><![CDATA[DB_AppIntegratedSecurityAllowed = "True"]]></Condition>
          <Condition Action="hide"><![CDATA[DB_AppIntegratedSecurityAllowed <> "True"]]></Condition>
        </Control>

        <!--Application username-->
        <Control Id="appUserNameText" Type="Text" Text="User Id" X="180" Y="185" Width="40" Height="17">
          <Condition Action="enable"><![CDATA[Not DB_APPSAMEASADMIN And DB_APPINTEGRATEDSECURITY<>"True"]]></Condition>
          <Condition Action="disable"><![CDATA[DB_APPSAMEASADMIN Or DB_APPINTEGRATEDSECURITY="True"]]></Condition>
        </Control>
        <Control Id="appUserNameEdit" Type="Edit" Property="DB_APPUSERNAME" X="220" Y="185" Width="95" Height="17">
          <Condition Action="enable"><![CDATA[Not DB_APPSAMEASADMIN And DB_APPINTEGRATEDSECURITY<>"True"]]></Condition>
          <Condition Action="disable"><![CDATA[DB_APPSAMEASADMIN Or DB_APPINTEGRATEDSECURITY="True"]]></Condition>
        </Control>

        <!--Application password-->
        <Control Id="appPasswordText" Type="Text" Text="Password" X="180" Y="205" Width="40" Height="17">
          <Condition Action="enable"><![CDATA[Not DB_APPSAMEASADMIN And DB_APPINTEGRATEDSECURITY<>"True"]]></Condition>
          <Condition Action="disable"><![CDATA[DB_APPSAMEASADMIN Or DB_APPINTEGRATEDSECURITY="True"]]></Condition>
        </Control>
        <Control Id="appPasswordEdit" Type="Edit" Property="DB_APPPASSWORD" Password="yes" X="220" Y="205" Width="95" Height="17">
          <Condition Action="enable"><![CDATA[Not DB_APPSAMEASADMIN And DB_APPINTEGRATEDSECURITY<>"True"]]></Condition>
          <Condition Action="disable"><![CDATA[DB_APPSAMEASADMIN Or DB_APPINTEGRATEDSECURITY="True"]]></Condition>
        </Control>

        <!--Navigation buttons-->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Order="1" Event="DoAction" Value="AfterDatabaseDialog">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />

        <Control Id="Cancel" Type="PushButton" Text="Cancel" X="310" Y="245" Width="50" Height="17" Cancel="yes">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

      </Dialog>
    </UI>

  </Fragment>
</Wix>