<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>
    <UI>
      <Dialog Id="WebsiteDialog" Width="370" Height="270" Modeless="no" Title="!(loc.WebsiteDialog_Title)">

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.WebsiteDialogTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.WebsiteDialogDescription)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.WebsiteDialogBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="siteNameText" Type="Text" Text="Website name" X="20" Y="70" Width="60" Height="17">
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
        </Control>
        <Control Id="siteNameEdit" Type="Edit" Text="[ProductName]" Property="WEB_SITENAME" X="80" Y="70" Width="100" Height="17">
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
        </Control>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="DoAction" Value="AfterWebDialog" Order="1">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

      </Dialog>
    </UI>
  </Fragment>
</Wix>