<dataProviders>
  <knownTypes>
    <!--External types-->
    <add type="CprBroker.Providers.DPR.DprDatabaseDataProvider, CprBroker.Providers.DPR"/>
    <add type="CprBroker.Providers.KMD.KmdDataProvider, CprBroker.Providers.KMD"/>
    <add type="CprBroker.Providers.E_M.E_MDataProvider, CprBroker.Providers.E_M"/>
    <add type="CprBroker.Providers.CPRDirect.CPRDirectExtractDataProvider, CprBroker.Providers.CPRDirect"/>
    <add type="CprBroker.Providers.CPRDirect.CPRDirectClientDataProvider, CprBroker.Providers.CPRDirect"/>
    <add type="CprBroker.Providers.PersonMaster.PersonMasterDataProvider, CprBroker.Providers.PersonMaster"/>
    <!--Internal types-->
    <add type="CprBroker.Providers.Local.DatabaseDataProvider, CprBroker.Providers.Local"/>
    <add type="CprBroker.Engine.Local.AdminDataProvider, CprBroker.Engine"/>
    <add type="CprBroker.Engine.Events.DataChangeEventManager, CprBroker.Engine"/>
    <add type="CprBroker.Engine.Local.ApplicationDataProvider, CprBroker.Engine"/>
    <add type="CprBroker.Engine.Ping.PingDataProvider, CprBroker.Engine"/>
  </knownTypes>
</dataProviders>