<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id="DatabaseFragment">
    <Property Id="Dummy_DatabaseFragmentRefProperty" Value="-"/>

    <WixVariable Id="DB_CREATEDATABASE" Value="False" Overridable="yes"/>

    <WixVariable Id="DB_FEATURE" Value="-" Overridable="yes"/>
    <WixVariable Id="DB_FEATURENAMES" Value="-" Overridable="yes"/>

    <Property Id="DB_FEATURE" Value="!(wix.DB_FEATURE)"/>
    <Property Id="DB_FEATURENAMES" Value="!(wix.DB_FEATURENAMES)"/>

    <Property Id="DB_SERVERNAME" Value="SqlServer" />
    <Property Id="DB_DATABASENAME" Value="-" />
    <Property Id="DB_USEEXISTINGDATABASE" Value="False"/>
    <Property Id="DB_ADMININTEGRATEDSECURITY" Value="True" />
    <Property Id="DB_ADMINUSERNAME"  Value="sa" />
    <Property Id="DB_ADMINPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_APPSAMEASADMIN" Value="True"/>

    <Property Id="DB_APPINTEGRATEDSECURITY" Value="!(wix.DB_APPINTEGRATEDSECURITYALLOWED)"/>
    <WixVariable Id="DB_APPINTEGRATEDSECURITYALLOWED" Value="True" Overridable="yes"/>
    <Property Id="DB_APPINTEGRATEDSECURITYALLOWED" Value="!(wix.DB_APPINTEGRATEDSECURITYALLOWED)"/>

    <Property Id="DB_APPUSERNAME" Value="-"/>
    <Property Id="DB_APPPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_ENCRYPTIONKEY" Value="-" Hidden="yes"/>
    <WixVariable Id="DB_ENCRYPTIONKEYENABLED" Value="True" Overridable="yes"/>
    <Property Id="DB_ENCRYPTIONKEYENABLED" Value="!(wix.DB_ENCRYPTIONKEYENABLED)"/>

    <Property Id="DB_DOMAIN" Value="-"/>
    <WixVariable Id="DB_DOMAINENABLED" Value="True" Overridable="yes"/>
    <Property Id="DB_DOMAINENABLED" Value="!(wix.DB_DOMAINENABLED)"/>

    <Property Id="DB_VALID" Value="False"/>

    <ComponentGroup Id="CMPGRP_Database">

      <Component Id="CMP_DatabaseRegistry" KeyPath="yes" Directory="INSTALLDIR" Guid="0A328B61-2AD2-473b-B4E5-43F9FC4CF997">
        <RegistryKey Id="REG_Database" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" />
      </Component>

    </ComponentGroup>

    <Condition Message="[DB_VALID]">
      <![CDATA[REMOVE OR PATCH OR UILevel=5 OR DB_VALID = "True"]]>
    </Condition>

    <!--Initialize some DB names from product name-->
    <CustomAction Id="InitializeDatabasePropertiesFromProductName" Execute="immediate" Script="vbscript">
      <![CDATA[
      Session.Property("DB_DATABASENAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("DB_APPUSERNAME") = Replace(Session.Property("ProductName"), " ", "")
      ]]>
    </CustomAction>

    <CustomAction Id="InitializeDatabasePropertiesByRemovingConflicts" Execute="immediate" Script="vbscript">
      <![CDATA[
      If !(wix.DB_APPINTEGRATEDSECURITYALLOWED) <> True Then
        Session.Property("DB_APPINTEGRATEDSECURITY") = "False"
        Session.Property("DB_APPSAMEASADMIN") = ""
      End If
      ]]>
    </CustomAction>

    <InstallUISequence>
      <Custom Action="AppSearch_DB" After="AppSearch"><![CDATA[!(wix.DB_CREATEDATABASE) = True]]></Custom>
      <Custom Action="InitializeDatabasePropertiesFromProductName" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="InitializeDatabasePropertiesByRemovingConflicts" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE]]></Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="InitializeDatabasePropertiesByRemovingConflicts" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND REMOVE]]></Custom>
    </InstallExecuteSequence>

    <!--Installation properties for use by custom actions-->
    <Property Id="DB_ALL" Hidden="yes" />
    <Property Id="RollbackDatabase" Hidden="yes" />
    <Property Id="DeployDatabase" Hidden="yes" />
    <Property Id="RemoveDatabase" Hidden="yes" />

    <!--Installation custom actions-->
    <CustomAction Id="AppSearch_DB" BinaryKey="InstallersDll" DllEntry="AppSearch_DB" Execute="immediate" />
    <CustomAction Id="PreDatabaseDialog" Execute="immediate" BinaryKey="InstallersDll" DllEntry="PreDatabaseDialog"/>
    <CustomAction Id="AfterDatabaseDialog" Execute="immediate" BinaryKey="InstallersDll" DllEntry="AfterDatabaseDialog"/>
    <CustomAction Id="AfterInstallInitialize_DB" Execute="immediate" BinaryKey="InstallersDll" DllEntry="AfterInstallInitialize_DB"/>
    <CustomAction Id="RollbackDatabase" BinaryKey="InstallersDll" DllEntry="RollbackDatabase" Execute="rollback" Return="check" Impersonate="yes"/>
    <CustomAction Id="DeployDatabase" BinaryKey="InstallersDll" DllEntry="DeployDatabase" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="RemoveDatabase" BinaryKey="InstallersDll" DllEntry="RemoveDatabase" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="WriteRegistryValues_DB" BinaryKey="InstallersDll" DllEntry="WriteRegistryValues_DB" Execute="commit" />

    <InstallExecuteSequence>
      <Custom Action="AppSearch_DB" After="AppSearch"><![CDATA[!(wix.DB_CREATEDATABASE) = True]]></Custom>

      <Custom Action="AfterInstallInitialize_DB" After="Set_CommonProductProperties">!(wix.DB_CREATEDATABASE) = True</Custom>

      <Custom Action="RollbackDatabase" After="InstallFiles"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="DeployDatabase" After="RollbackDatabase"><![CDATA[!(wix.DB_CREATEDATABASE)  = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="RemoveDatabase" After="DeployDatabase"><![CDATA[!(wix.DB_CREATEDATABASE)  = True AND REMOVE = "ALL" AND NOT PATCH]]></Custom>

      <Custom Action="WriteRegistryValues_DB" After="WriteRegistryValues"><![CDATA[!(wix.DB_CREATEDATABASE)  = True AND NOT PATCH]]></Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>