<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <Property Id="DB_SERVERNAME" Value="SqlServer" >
      <RegistrySearch Id="RS_DbServerName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="ServerName"/>
    </Property>
    <Property Id="DB_DATABASENAME" Value="-" >
      <RegistrySearch Id="RS_DbDatabaseName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="DatabaseName"/>
    </Property>
    <Property Id="DB_USEEXISTINGDATABASE" Value="False">
      <RegistrySearch Id="RS_DbUseExistingDatabase" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="UseExistingDatabase"/>
    </Property>
    <Property Id="DB_ADMININTEGRATEDSECURITY" Value="True" >
      <RegistrySearch Id="RS_DbAdminIntegratedSecurity" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AdminIntegratedSecurity"/>
    </Property>
    <Property Id="DB_ADMINUSERNAME"  Value="sa" >
      <RegistrySearch Id="RS_DbAdminUserName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AdminUserName"/>
    </Property>
    <Property Id="DB_ADMINPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_APPSAMEASADMIN" Value="True" />
    <Property Id="DB_APPINTEGRATEDSECURITY" Value="True" />
    <Property Id="DB_APPUSERNAME" Value="-" />
    <Property Id="DB_APPPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_ENCRYPTIONKEY" Value="-" Hidden="yes"/>
    <Property Id="DB_ENCRYPTIONKEYENABLED" Value="True" />

    <Property Id="DB_DOMAIN" Value="-"/>
    <Property Id="DB_DOMAINENABLED" Value="True" />

    <Property Id="DB_VALID" Value="False"/>

    <ComponentGroup Id="CMPGRP_Database">

      <Component Id="CMP_DatabaseRegistry" KeyPath="yes" Directory="INSTALLDIR" Guid="0A328B61-2AD2-473b-B4E5-43F9FC4CF997">
        <RegistryKey Id="REG_Database" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database">
          <RegistryValue Id="REG_DbServerName" Action="write" Type="string" Name="ServerName" Value="[DB_SERVERNAME]"/>
          <RegistryValue Id="REG_DbDatabaseName" Action="write" Type="string" Name="DatabaseName" Value="[DB_DATABASENAME]"/>
          <RegistryValue Id="REG_DbUseExistingDatabase" Action="write" Type="string" Name="UseExistingDatabase" Value="[DB_USEEXISTINGDATABASE]"/>
          <RegistryValue Id="REG_DbAdminIntegratedSecurity" Action="write" Type="string" Name="AdminIntegratedSecurity" Value="[DB_ADMININTEGRATEDSECURITY]"/>
          <RegistryValue Id="REG_DbAdminUserName" Action="write" Type="string" Name="AdminUserName" Value="[DB_ADMINUSERNAME]"/>
        </RegistryKey>
      </Component>

    </ComponentGroup>

    <!--Initialize some DB names from product name-->
    <CustomAction Id="CA_InitializeDatabasePropertiesFromProductName" Execute="immediate" Script="vbscript">
      <![CDATA[
      Session.Property("DB_DATABASENAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("DB_APPUSERNAME") = Replace(Session.Property("ProductName"), " ", "")
      ]]>
    </CustomAction>

    <InstallUISequence>
      <Custom Action="CA_InitializeDatabasePropertiesFromProductName" After="CostFinalize">NOT REMOVE</Custom>
    </InstallUISequence>

    
    <CustomAction Id="TestDatabaseConnection" BinaryKey="InstallersDll" DllEntry="TestDatabaseConnection" Execute="immediate" Return="check" Impersonate="yes"></CustomAction>

    <!--Installation custom actions-->
    <Property Id="RollbackDatabase" Value="-" Hidden="yes"/>
    <CustomAction Id="RollbackDatabase_" Property="RollbackDatabase" Value="DB_SERVERNAME=[DB_SERVERNAME];DB_DATABASENAME=[DB_DATABASENAME];DB_USEEXISTINGDATABASE=[DB_USEEXISTINGDATABASE];DB_ADMININTEGRATEDSECURITY=[DB_ADMININTEGRATEDSECURITY];DB_ADMINUSERNAME=[DB_ADMINUSERNAME];DB_ADMINPASSWORD=[DB_ADMINPASSWORD];DB_APPSAMEASADMIN=[DB_APPSAMEASADMIN];DB_APPINTEGRATEDSECURITY=[DB_APPINTEGRATEDSECURITY];DB_APPUSERNAME=[DB_APPUSERNAME];DB_APPPASSWORD=[DB_APPPASSWORD];DB_ENCRYPTIONKEY=[DB_ENCRYPTIONKEY];DB_ENCRYPTIONKEYENABLED=[DB_ENCRYPTIONKEYENABLED];DB_DOMAIN=[DB_DOMAIN];DB_DOMAINENABLED=[DB_DOMAINENABLED]" />
    <CustomAction Id="RollbackDatabase" BinaryKey="InstallersDll" DllEntry="RollbackDatabase" Execute="rollback" Return="check" Impersonate="yes"/>

    <Property Id="DeployDatabase" Value="-" Hidden="yes"/>
    <CustomAction Id="DeployDatabase_" Property="DeployDatabase" Value="DB_SERVERNAME=[DB_SERVERNAME];DB_DATABASENAME=[DB_DATABASENAME];DB_USEEXISTINGDATABASE=[DB_USEEXISTINGDATABASE];DB_ADMININTEGRATEDSECURITY=[DB_ADMININTEGRATEDSECURITY];DB_ADMINUSERNAME=[DB_ADMINUSERNAME];DB_ADMINPASSWORD=[DB_ADMINPASSWORD];DB_APPSAMEASADMIN=[DB_APPSAMEASADMIN];DB_APPINTEGRATEDSECURITY=[DB_APPINTEGRATEDSECURITY];DB_APPUSERNAME=[DB_APPUSERNAME];DB_APPPASSWORD=[DB_APPPASSWORD]DB_ENCRYPTIONKEY=[DB_ENCRYPTIONKEY];DB_ENCRYPTIONKEYENABLED=[DB_ENCRYPTIONKEYENABLED];DB_DOMAIN=[DB_DOMAIN];DB_DOMAINENABLED=[DB_DOMAINENABLED]" />
    <CustomAction Id="DeployDatabase" BinaryKey="InstallersDll" DllEntry="DeployDatabase" Execute="deferred" Return="check" Impersonate="yes"/>

    <Property Id="RemoveDatabase" Value="-" Hidden="yes"/>
    <CustomAction Id="RemoveDatabase_" Property="RemoveDatabase" Value="ProductName=[ProductName];DB_SERVERNAME=[DB_SERVERNAME];DB_DATABASENAME=[DB_DATABASENAME];DB_USEEXISTINGDATABASE=[DB_USEEXISTINGDATABASE];DB_ADMININTEGRATEDSECURITY=[DB_ADMININTEGRATEDSECURITY];DB_ADMINUSERNAME=[DB_ADMINUSERNAME];DB_ADMINPASSWORD=[DB_ADMINPASSWORD];DB_APPSAMEASADMIN=[DB_APPSAMEASADMIN];DB_APPINTEGRATEDSECURITY=[DB_APPINTEGRATEDSECURITY];DB_APPUSERNAME=[DB_APPUSERNAME];DB_APPPASSWORD=[DB_APPPASSWORD]DB_ENCRYPTIONKEY=[DB_ENCRYPTIONKEY];DB_ENCRYPTIONKEYENABLED=[DB_ENCRYPTIONKEYENABLED];DB_DOMAIN=[DB_DOMAIN];DB_DOMAINENABLED=[DB_DOMAINENABLED]" />
    <CustomAction Id="RemoveDatabase" BinaryKey="InstallersDll" DllEntry="RemoveDatabase" Execute="deferred" Return="check" Impersonate="yes"/>

    <InstallExecuteSequence>
      <Custom Action="RollbackDatabase_" After="InstallInitialize">NOT REMOVE</Custom>
      <Custom Action="RollbackDatabase" After="InstallFiles">NOT REMOVE</Custom>

      <Custom Action="DeployDatabase_" After="InstallInitialize">NOT REMOVE</Custom>
      <Custom Action="DeployDatabase" After="InstallSqlData">NOT REMOVE</Custom>

      <Custom Action="RemoveDatabase_" After="InstallInitialize"><![CDATA[REMOVE = "ALL"]]></Custom>
      <Custom Action="RemoveDatabase" After="UninstallSqlData"><![CDATA[REMOVE = "ALL"]]></Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>