<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id="DatabaseFragment">
    <Property Id="Dummy_DatabaseFragmentRefProperty" Value="-"/>

    <WixVariable Id="DB_CREATEDATABASE" Value="False" Overridable="yes"/>

    <WixVariable Id="DB_FEATURE" Value="-" Overridable="yes"/>
    <WixVariable Id="DB_FEATURENAMES" Value="-" Overridable="yes"/>

    <Property Id="DB_FEATURE" Value="!(wix.DB_FEATURE)"/>
    <Property Id="DB_FEATURENAMES" Value="!(wix.DB_FEATURENAMES)"/>

    <Property Id="DB_SERVERNAME" Value="SqlServer" >
      <RegistrySearch Id="RS_DbServerName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="ServerName"/>
    </Property>
    <Property Id="DB_DATABASENAME" Value="-" >
      <RegistrySearch Id="RS_DbDatabaseName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="DatabaseName"/>
    </Property>
    <Property Id="DB_USEEXISTINGDATABASE" Value="False">
      <RegistrySearch Id="RS_DbUseExistingDatabase" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="UseExistingDatabase"/>
    </Property>
    <Property Id="DB_ADMININTEGRATEDSECURITY" Value="True" >
      <RegistrySearch Id="RS_DbAdminIntegratedSecurity" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AdminIntegratedSecurity"/>
    </Property>
    <Property Id="DB_ADMINUSERNAME"  Value="sa" >
      <RegistrySearch Id="RS_DbAdminUserName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AdminUserName"/>
    </Property>
    <Property Id="DB_ADMINPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_APPSAMEASADMIN" Value="True">
      <RegistrySearch Id="RS_DbAppSameAsAdmin" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AppSameAsAdmin"/>
    </Property>

    <Property Id="DB_APPINTEGRATEDSECURITY" Value="!(wix.DB_APPINTEGRATEDSECURITYALLOWED)">
      <RegistrySearch Id="RS_AppIntegratedSecurity" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AppIntegratedSecurity"/>
    </Property>
    <WixVariable Id="DB_APPINTEGRATEDSECURITYALLOWED" Value="True" Overridable="yes"/>
    <Property Id="DB_APPINTEGRATEDSECURITYALLOWED" Value="!(wix.DB_APPINTEGRATEDSECURITYALLOWED)"/>

    <Property Id="DB_APPUSERNAME" Value="-">
      <RegistrySearch Id="RS_AppUserName" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database" Type="raw" Name="AppUserName"/>
    </Property>

    <Property Id="DB_APPPASSWORD" Value="-" Hidden="yes" />

    <Property Id="DB_ENCRYPTIONKEY" Value="-" Hidden="yes"/>
    <WixVariable Id="DB_ENCRYPTIONKEYENABLED" Value="True" Overridable="yes"/>
    <Property Id="DB_ENCRYPTIONKEYENABLED" Value="!(wix.DB_ENCRYPTIONKEYENABLED)"/>

    <Property Id="DB_DOMAIN" Value="-"/>
    <WixVariable Id="DB_DOMAINENABLED" Value="True" Overridable="yes"/>
    <Property Id="DB_DOMAINENABLED" Value="!(wix.DB_DOMAINENABLED)"/>

    <Property Id="DB_VALID" Value="False"/>

    <ComponentGroup Id="CMPGRP_Database">

      <Component Id="CMP_DatabaseRegistry" KeyPath="yes" Directory="INSTALLDIR" Guid="0A328B61-2AD2-473b-B4E5-43F9FC4CF997">
        <RegistryKey Id="REG_Database" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Database">
          <RegistryValue Id="REG_DbServerName" Action="write" Type="string" Name="ServerName" Value="[DB_SERVERNAME]"/>
          <RegistryValue Id="REG_DbDatabaseName" Action="write" Type="string" Name="DatabaseName" Value="[DB_DATABASENAME]"/>
          <RegistryValue Id="REG_DbUseExistingDatabase" Action="write" Type="string" Name="UseExistingDatabase" Value="[DB_USEEXISTINGDATABASE]"/>
          <RegistryValue Id="REG_DbAdminIntegratedSecurity" Action="write" Type="string" Name="AdminIntegratedSecurity" Value="[DB_ADMININTEGRATEDSECURITY]"/>
          <RegistryValue Id="REG_DbAdminUserName" Action="write" Type="string" Name="AdminUserName" Value="[DB_ADMINUSERNAME]"/>

          <RegistryValue Id="REG_DbAppSameAsAdmin" Action="write" Type="string" Name="AppSameAsAdmin" Value="[DB_APPSAMEASADMIN]"/>
          <RegistryValue Id="REG_DbAppIntegratedSecurity" Action="write" Type="string" Name="AppIntegratedSecurity" Value="[DB_APPINTEGRATEDSECURITY]"/>
          <RegistryValue Id="REG_DbAppUserName" Action="write" Type="string" Name="AppUserName" Value="[DB_APPUSERNAME]"/>
        </RegistryKey>
      </Component>

    </ComponentGroup>

    <!--Initialize some DB names from product name-->
    <CustomAction Id="CA_InitializeDatabasePropertiesFromProductName" Execute="immediate" Script="vbscript">
      <![CDATA[
      Session.Property("DB_DATABASENAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("DB_APPUSERNAME") = Replace(Session.Property("ProductName"), " ", "")
      ]]>
    </CustomAction>

    <CustomAction Id="CA_InitializeDatabasePropertiesByRemovingConflicts" Execute="immediate" Script="vbscript">
      <![CDATA[
      If !(wix.DB_APPINTEGRATEDSECURITYALLOWED) <> True Then
        Session.Property("DB_APPINTEGRATEDSECURITY") = "False"
        Session.Property("DB_APPSAMEASADMIN") = ""
      End If
      ]]>
    </CustomAction>

    <InstallUISequence>
      <Custom Action="CA_InitializeDatabasePropertiesFromProductName" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="CA_InitializeDatabasePropertiesByRemovingConflicts" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE]]></Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="CA_InitializeDatabasePropertiesByRemovingConflicts" After="CostFinalize"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND REMOVE]]></Custom>
    </InstallExecuteSequence>

    <!--Installation properties for use by custom actions-->
    <Property Id="DB_AllProperties" Hidden="yes" />
    <Property Id="RollbackDatabase" Hidden="yes" />
    <Property Id="DeployDatabase" Hidden="yes" />
    <Property Id="RemoveDatabase" Hidden="yes" />

    <!--Installation custom actions-->
    <CustomAction Id="CA_PreDatabaseDialog" Execute="immediate" BinaryKey="InstallersDll" DllEntry="CA_PreDatabaseDialog"/>
    <CustomAction Id="CA_AfterDatabaseDialog" Execute="immediate" BinaryKey="InstallersDll" DllEntry="CA_AfterDatabaseDialog"/>
    <CustomAction Id="CA_AfterInstallInitialize_DB" Execute="immediate" BinaryKey="InstallersDll" DllEntry="CA_AfterInstallInitialize_DB"/>
    <CustomAction Id="RollbackDatabase" BinaryKey="InstallersDll" DllEntry="RollbackDatabase" Execute="rollback" Return="check" Impersonate="yes"/>
    <CustomAction Id="DeployDatabase" BinaryKey="InstallersDll" DllEntry="DeployDatabase" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="RemoveDatabase" BinaryKey="InstallersDll" DllEntry="RemoveDatabase" Execute="deferred" Return="check" Impersonate="yes"/>

    <InstallExecuteSequence>
      <Custom Action="CA_AfterInstallInitialize_DB" After="CA_Set_CommonProductProperties">!(wix.DB_CREATEDATABASE) = True</Custom>

      <Custom Action="RollbackDatabase" After="InstallFiles"><![CDATA[!(wix.DB_CREATEDATABASE) = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="DeployDatabase" After="RollbackDatabase"><![CDATA[!(wix.DB_CREATEDATABASE)  = True AND NOT REMOVE AND NOT PATCH]]></Custom>
      <Custom Action="RemoveDatabase" After="DeployDatabase"><![CDATA[!(wix.DB_CREATEDATABASE)  = True AND REMOVE = "ALL" AND NOT PATCH]]></Custom>
    </InstallExecuteSequence>

  </Fragment>
</Wix>