<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="ElevationFragment">
    <Property Id="Dummy_ElevationFragmentRefProp" Value="-"/>

    <!-- Default is set to 1 to pass the first execution of LaunchCondition -->
    <Property Id="ExecutionElevated" Value="1" />
    <WixVariable Id="ElevationRequired" Value="0" Overridable="yes"/>

    <CustomAction Id="CalculateExecutionElevated" BinaryKey="InstallersDll" DllEntry="CalculateExecutionElevated" Execute="immediate"/>
    <CustomAction Id="ReEvaluateLaunchConditions" BinaryKey="InstallersDll" DllEntry="ReEvaluateLaunchConditions" Execute="immediate" />

    <InstallUISequence>
      <Custom Action="CalculateExecutionElevated" After="LaunchConditions">!(wix.ElevationRequired)</Custom>
      <Custom Action="ReEvaluateLaunchConditions" Before="ValidateProductID"/>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="CalculateExecutionElevated" After="LaunchConditions">!(wix.ElevationRequired)</Custom>
      <Custom Action="ReEvaluateLaunchConditions" Before="ValidateProductID"/>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="CalculateExecutionElevated">Detecting elevated execution</ProgressText>
    </UI>

    <Condition Message="This package requires elevated privileges. Please restart the installation with administrative rights">
      NOT !(wix.ElevationRequired) OR ExecutionElevated
    </Condition>

  </Fragment>
</Wix>