<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>

    <WixVariable Id="WEB_CreateWeb" Value="False" Overridable="yes"/>

    <WixVariable Id="WEB_Feature" Value="-" Overridable="yes"/>
    <WixVariable Id="WEB_FeatureNames" Value="-" Overridable="yes"/>
    <WixVariable Id="WEB_SuggestedWebNames" Value="-" Overridable="yes"/>

    <Property Id="WEB_Feature" Value="!(wix.WEB_Feature)"/>
    <Property Id="WEB_FeatureNames" Value="!(wix.WEB_FeatureNames)"/>
    <Property Id="WEB_SuggestedWebNames" Value="!(wix.WEB_SuggestedWebNames)"/>

    <Property Id="WEB_CREATEASWEBSITE" Value="True"/>
    <Property Id="WEB_SITENAME" Value="-" />
    <Property Id="WEB_SITENAME_SITE" Value="-" />
    <Property Id="WEB_SITENAME_VDIR" Value="-" />

    <Property Id="WEB_VIRTUALDIRECTORYNAME" Value="-"/>

    <Property Id="WEB_MultipleSitesAllowed" Value="True"/>
    <Property Id="WEB_SitesFound" Value="False"/>
    <Property Id="WEB_VIRTUALDIRECTORYSITEPATH" Value="-" />
    <Property Id="WEB_APPLICATIONPATH" Value="-"/>

    <WixVariable Id="CMP_WebRegistry_Guid" Overridable="yes" Value="-"/>
    <Component Id="CMP_WebRegistry" Directory="INSTALLDIR" Guid="!(wix.CMP_WebRegistry_Guid)" >
      <RegistryKey Id="REG_Web" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Website" >
        <RegistryValue Id="REG_Web_Dummy" Action="write" Type="string" KeyPath="yes" Name="Dummy" Value="Dummy" />
      </RegistryKey>
    </Component>

    <Condition Message="[WEB_Valid]">
      <![CDATA[REMOVE OR PATCH OR UILevel=5 OR WEB_Valid = "True"]]>
    </Condition>

    <CustomAction Id="PopulateWebsites" BinaryKey="InstallersDll" DllEntry="PopulateWebsites" Execute="immediate" Return="check" Impersonate="no"></CustomAction>
    <Property Id="PopulateWebSites_DUMMYPROPERTY" Value="PopulateWebSites_DUMMYPROPERTY"/>
    <UI>
      <ComboBox Property="PopulateWebsites_DUMMYPROPERTY">
        <ListItem Text="PopulateWebsites_DUMMYPROPERTY" Value="PopulateWebsites_DUMMYPROPERTY"/>
      </ComboBox>
    </UI>

    <CustomAction Id="InitializeWebPropertiesFromProductName" Execute="immediate" Script="vbscript">
      <![CDATA[
      Session.Property("WEB_SITENAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("WEB_SITENAME_SITE") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("WEB_VIRTUALDIRECTORYNAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("WEB_VIRTUALDIRECTORYSITEPATH") = Replace(Session.Property("ProductName"), " ", "")
      ]]>
    </CustomAction>

    <Property Id="WEB_Valid" Value="False" />

    <!--Installation properties for use by custom actions-->
    <Property Id="WEB_ALL" Hidden="yes"/>
    <Property Id="RollbackWebsite" Value="-" Hidden="yes"/>
    <Property Id="CreateWebsite" Value="-" Hidden="yes"/>
    <Property Id="RemoveWebsite" Value="-" Hidden="yes" />

    <!--Installation custom actions-->
    <CustomAction Id="AppSearch_WEB" BinaryKey="InstallersDll" DllEntry="AppSearch_WEB" Execute="immediate" />
    <CustomAction Id="PreWebDialog" BinaryKey="InstallersDll" DllEntry="PreWebDialog" Execute="immediate" Return="check" Impersonate="no"/>
    <CustomAction Id="AfterWebDialog" BinaryKey="InstallersDll" DllEntry="AfterWebDialog" Execute="immediate" Return="check" Impersonate="no"/>
    <CustomAction Id="AfterInstallInitialize_WEB" BinaryKey="InstallersDll" DllEntry="AfterInstallInitialize_WEB" Execute="immediate" Return="check" Impersonate="no"></CustomAction>
    <CustomAction Id="RollbackWebsite" BinaryKey="InstallersDll" DllEntry="RollbackWebsite" Execute="rollback" Return="check" Impersonate="no"></CustomAction>
    <CustomAction Id="CreateWebsite" BinaryKey="InstallersDll" DllEntry="CreateWebsite" Execute="deferred" Return="check" Impersonate="no"></CustomAction>
    <CustomAction Id="RemoveWebsite" BinaryKey="InstallersDll" DllEntry="RemoveWebsite" Execute="deferred" Return="check" Impersonate="no"></CustomAction>

    <InstallUISequence >
      <Custom Action="AppSearch_WEB" After="AppSearch"><![CDATA[!(wix.WEB_CreateWeb) = True]]></Custom>
      <Custom Action="PopulateWebsites" After="CostFinalize"><![CDATA[!(wix.WEB_CreateWeb) = True AND NOT REMOVE]]></Custom>
      <Custom Action="InitializeWebPropertiesFromProductName" After="CostFinalize"><![CDATA[!(wix.WEB_CreateWeb) = True AND NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="AppSearch_WEB" After="AppSearch"><![CDATA[!(wix.WEB_CreateWeb) = True]]></Custom>

      <Custom Action="AfterInstallInitialize_WEB" After="AfterInstallInitialize_DB">!(wix.WEB_CreateWeb) = True</Custom>

      <Custom Action="RollbackWebsite" After="InstallFiles"><![CDATA[!(wix.WEB_CreateWeb) = True AND NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
      <Custom Action="CreateWebsite" After="RollbackWebsite"><![CDATA[!(wix.WEB_CreateWeb) = True AND NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
      <Custom Action="RemoveWebsite" After="CreateWebsite"><![CDATA[!(wix.WEB_CreateWeb) = True AND REMOVE = "ALL" AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="AppSearch_WEB">Doing web registry search</ProgressText>
      <ProgressText Action="AfterInstallInitialize_WEB">Initializing web properties</ProgressText>
      <ProgressText Action="RollbackWebsite">Rolling back web</ProgressText>
      <ProgressText Action="CreateWebsite">Creating web</ProgressText>
      <ProgressText Action="RemoveWebsite">Removing web</ProgressText>
    </UI>

  </Fragment>
</Wix>