<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>

    <WixVariable Id="WEB_CREATEWEB" Value="False" Overridable="yes"/>

    <Property Id="WEB_CREATEASWEBSITE" Value="True">
      <RegistrySearch Id="RS_WEB_CREATEASWEBSITE" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Website" Type="raw" Name="CreateAsWebsite"/>
    </Property>
    <Property Id="WEB_SITENAME" Value="-" >
      <RegistrySearch Id="RS_WEB_SITENAME" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Website" Type="raw" Name="SiteName"/>
    </Property>
    <Property Id="WEB_VIRTUALDIRECTORYNAME" Value="-">
      <RegistrySearch Id="RS_WEB_VIRTUALDIRECTORYNAME" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Website" Type="raw" Name="VirtualDirectoryName"/>
    </Property>

    <Property Id="WEB_MULTIPLESITESALLOWED" Value="True"/>
    <Property Id="WEB_VIRTUALDIRECTORYSITEPATH" Value="-" />
    <Property Id="WEB_APPLICATIONPATH" Value="-"/>

    <Component Id="CMP_WebRegistry" KeyPath="yes" Directory="INSTALLDIR" Guid="F28ACE50-EDFB-4939-9DF2-1022D97F9C8F">
      <RegistryKey Id="REG_Web" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Website">
        <RegistryValue Id="REG_WebCreateAsWebsite" Action="write" Type="string" Name="CreateAsWebsite" Value="[WEB_CREATEASWEBSITE]"/>
        <RegistryValue Id="REG_WebSiteName" Action="write" Type="string" Name="SiteName" Value="[WEB_SITENAME]"/>
        <RegistryValue Id="REG_WebVirtualDirectoryName" Action="write" Type="string" Name="VirtualDirectoryName" Value="[WEB_VIRTUALDIRECTORYNAME]"/>
      </RegistryKey>
    </Component>

    
    <CustomAction Id="PopulateWebSites" BinaryKey="InstallersDll" DllEntry="PopulateWebSites" Execute="immediate" Return="check" Impersonate="no"></CustomAction>
    <Property Id="PopulateWebSites_DUMMYPROPERTY" Value="PopulateWebSites_DUMMYPROPERTY"/>
    <UI>
      <ComboBox Property="PopulateWebSites_DUMMYPROPERTY">
        <ListItem Text="PopulateWebSites_DUMMYPROPERTY" Value="PopulateWebSites_DUMMYPROPERTY"/>
      </ComboBox>
    </UI>

    <CustomAction Id="CA_InitializeWebPropertiesFromProductName" Execute="immediate" Script="vbscript">
      <![CDATA[
      Session.Property("WEB_SITENAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("WEB_VIRTUALDIRECTORYNAME") = Replace(Session.Property("ProductName"), " ", "")
      Session.Property("WEB_VIRTUALDIRECTORYSITEPATH") = Replace(Session.Property("ProductName"), " ", "")
      ]]>
    </CustomAction>

    <Property Id="WEB_AllProperties"/>
    <CustomAction Id="CA_Set_WEB_AllProperties" Property="WEB_AllProperties" Value="WEB_MULTIPLESITESALLOWED=[WEB_MULTIPLESITESALLOWED];WEB_CREATEASWEBSITE=[WEB_CREATEASWEBSITE];WEB_SITENAME=[WEB_SITENAME];WEB_VIRTUALDIRECTORYSITEPATH=[WEB_VIRTUALDIRECTORYSITEPATH];WEB_VIRTUALDIRECTORYNAME=[WEB_VIRTUALDIRECTORYNAME];WEB_APPLICATIONPATH=[WEB_APPLICATIONPATH]"/>

    <CustomAction Id="RollbackWebsite_" Property="RollbackWebsite" Value="INSTALLDIR=[INSTALLDIR];[WEB_AllProperties]"/>
    <CustomAction Id="RollbackWebsite" BinaryKey="InstallersDll" DllEntry="RollbackWebsite" Execute="rollback" Return="check" Impersonate="no"></CustomAction>

    <Property Id="CreateWebsite" Value="-" Hidden="yes"/>
    <CustomAction Id="CreateWebsite_" Property="CreateWebsite" Value="INSTALLDIR=[INSTALLDIR];[WEB_AllProperties];[DB_AllProperties]"/>
    <CustomAction Id="CreateWebsite" BinaryKey="InstallersDll" DllEntry="CreateWebsite" Execute="deferred" Return="check" Impersonate="no"></CustomAction>

    <Property Id="RemoveWebSite" Value="-" />
    <CustomAction Id="RemoveWebSite_" Property="RemoveWebSite" Value="INSTALLDIR=[INSTALLDIR];[WEB_AllProperties]"/>
    <CustomAction Id="RemoveWebSite" BinaryKey="InstallersDll" DllEntry="RemoveWebSite" Execute="deferred" Return="check" Impersonate="no"></CustomAction>

    <InstallUISequence >
      <Custom Action="PopulateWebSites" After="CostFinalize"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>
      <Custom Action="CA_InitializeWebPropertiesFromProductName" After="CostFinalize"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="CA_Set_WEB_AllProperties" After="CA_Set_DB_AllProperties">!(wix.WEB_CREATEWEB) = True</Custom>

      <Custom Action="RollbackWebsite_" After="CA_Set_WEB_AllProperties"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>
      <Custom Action="RollbackWebsite" After="InstallFiles"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>

      <Custom Action="CreateWebsite_" After="CA_Set_WEB_AllProperties"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>
      <Custom Action="CreateWebsite" After="RollbackWebsite"><![CDATA[!(wix.WEB_CREATEWEB) = True AND NOT REMOVE]]></Custom>

      <Custom Action="RemoveWebSite_" After="CA_Set_WEB_AllProperties"><![CDATA[!(wix.WEB_CREATEWEB) = True AND REMOVE = "ALL"]]></Custom>
      <Custom Action="RemoveWebSite" Before="RemoveRegistryValues"><![CDATA[!(wix.WEB_CREATEWEB) = True AND REMOVE = "ALL"]]></Custom>

    </InstallExecuteSequence>

  </Fragment>
</Wix>