<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="true">

    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile" />
        </listeners>
      </errors>

      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="CprDatabase" />
          <add name="EventLog"/>
          <!--<add name="Email" />-->
        </listeners>
      </allEvents>
    </specialSources>

    <listeners>
      <add name="CprDatabase"
           type="CprBroker.Engine.Trace.LocalTraceListener, CprBroker.Engine"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           />
      <add name="EventLog"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           traceOutputOptions="None"
           source="CPR Broker"
           formatter="Text Formatter"
           filter="Critical"
           />
      <add name="FlatFile"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           formatter="Text Formatter"
           fileName="C:\CPR Broker.log"
           header="___________________________________________"
           />
      <!--<add name="Email"         
         toAddress="to@company.com"
        fromAddress="from@company.com"
        subjectLineStarter="CPR Broker CPR Service"
        subjectLineEnder=""
        smtpServer="smtp.company.com"
        smtpPort="25"
        formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
      />-->
    </listeners>

    <formatters>
      <add name="Text Formatter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
           template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
           />
    </formatters>

  </loggingConfiguration>
  
</configuration>
