<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.DataProviderKeysSection, CprBroker.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="dataProviders" type="CprBroker.Engine.DataProvidersConfigurationSection, CprBroker.Engine"/>
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>

  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>RyjQ5LdO7TVmJ4xoGM4UulR6zjo0zanpP8dwn+Ly2U7xCCSOh7pOUY1fKMntdJ5gzm+KU3PLEcUwRb0AVxosiVgfCbAl7b1ns4vyVp+h8zBfI8f8ZDvDVSmK0Vot5eZvrh+n1AQ5ntUB7lyghxg4I7nuaejAFrJOEqbZ0RS2QK4=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>eHg36TQHwFmFe5Q1TB/WckxJ3uBj7aBD0URLD1JBSCsn5J1V3UQ3JkNALXY/fg4Ahno+NT6SPv1eGbo9KP4/EgEUcl1IDcr/duulVKAQIqfXDR2yoNkbBOIsxkxRcTPdHaUcqTF2qzINNqTG2jZUhBNBqu5oIoeHTmjuPRud53MbBFv4moRG3JPna3+tQjPtKDBTw80zCMiCTOq9Qfucp1G0y4DsMQjKnax4vhUWwL/cC1sfORt/8MIBc3oMh5tWqHusp+64R5dSx7vM3ZD4Z0hypZ6x3vZ3tb6qVGLT6BV+OlsJG9EAe6BakWeeKCbm4+jMgFNBgCeJbN1W9FmGDScEsSzwP7jaSgVb6szM+pJrdDhN9lGs8Vzssjh+SHbOFqdACUygLCqw2YLPfU1TzckMFH9c/FmC/dOW7Aoi9vP+HquHk5omEcBkVbjOKWBXBemDYp4uERk=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
    <dataProviders>
      <knownTypes>
        <!--External types-->
        <add type="CprBroker.Providers.DPR.DprDatabaseDataProvider, CprBroker.Providers.DPR"/>
        <add type="CprBroker.Providers.KMD.KmdDataProvider, CprBroker.Providers.KMD"/>
        <add type="CprBroker.Providers.PersonMaster.PersonMasterDataProvider, CprBroker.Providers.PersonMaster"/>
        <!--Internal types-->
        <add type="CprBroker.Providers.Local.DatabaseDataProvider, CprBroker.Providers.Local"/>
        <add type="CprBroker.Engine.Local.AdminDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Events.DataChangeEventManager, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Local.ApplicationDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Ping.PingDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Tests.Engine.ManagerTests+GuidDataProvider, CprBroker.Tests.Engine"/>
      </knownTypes>
    </dataProviders>
  </dataProvidersGroup>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="true">

    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile" />
        </listeners>
      </errors>

      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="CprDatabase" />
          <add name="EventLog"/>
          <!--<add name="Email" />-->
        </listeners>
      </allEvents>
    </specialSources>

    <listeners>
      <add name="CprDatabase"
           type="CprBroker.Engine.Trace.LocalTraceListener, CprBroker.Engine"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           />
      <add name="EventLog"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           traceOutputOptions="None"
           source="CPR Broker"
           formatter="Text Formatter"
           filter="Critical"
           />
      <add name="FlatFile"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           formatter="Text Formatter"
           fileName="C:\CPR Broker.log"
           header="___________________________________________"
           />
      <!--<add name="Email"         
         toAddress="to@company.com"
        fromAddress="from@company.com"
        subjectLineStarter="CPR Broker CPR Service"
        subjectLineEnder=""
        smtpServer="smtp.company.com"
        smtpPort="25"
        formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
      />-->
    </listeners>

    <formatters>
      <add name="Text Formatter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
           template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
           />
    </formatters>

  </loggingConfiguration>
  
</configuration>