<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Patch AllowRemoval="yes" Classification="Update" Comments="Patch for Person Master v. 1.2.0.0" Description="Updates Person Master to v. 1.2.0.0" DisplayName="Person Master Patch 2011-10-03" Manufacturer="Magenta ApS" MoreInfoURL="http://magenta-aps.dk" TargetProductName="Person Master">

    <Media Id="1000" Cabinet="MyPatch.cab">
      <PatchBaseline Id="MyPatch" />
    </Media>

    <PatchFamily Id="MyPatchFamily" Version="1.2.0.0" ProductCode="ddb79617-a985-4841-9626-22779ded8d13" Supersede="yes">
      <ComponentRef Id="CMP_PersonmasterServiceLibrary.dll" />
      <ComponentRef Id="CMP_PersonmasterServiceLibrary.pdb" />

      <BinaryRef Id="InstallersDll"/>

      <CustomActionRef Id="CA_Set_DB_AllProperties"/>
      <CustomActionRef Id="CA_Set_CommonProductProperties"/>
      <CustomActionRef Id="PatchPersonMasterDatabase_"/>
      <CustomActionRef Id="PatchPersonMasterDatabase"/>
    </PatchFamily>

  </Patch>
</Wix>