<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CprBroker.Tests.E_M.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CprBroker.Tests.E_M.Properties.Settings>
            <setting name="CprBroker_Tests_E_M_Part_Part" serializeAs="String">
                <value>http://localhost:1551/Services/Part.asmx</value>
            </setting>
        </CprBroker.Tests.E_M.Properties.Settings>
    </applicationSettings>
</configuration>