<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPR_Business_Application_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPR_Business_Application_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CPR_Business_Application_Demo.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>CPR Business Application Demo</value>
            </setting>
        </CPR_Business_Application_Demo.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="AdminSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" protectionScenario="TransportSelected" />
          </httpTransport>
        </binding>
        <binding name="PartSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" protectionScenario="TransportSelected" />
          </httpTransport>
        </binding>
        <binding name="SubscriptionsSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" protectionScenario="TransportSelected" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1551/Services/Admin.asmx"
        binding="customBinding" bindingConfiguration="AdminSoap12" contract="ApplicationsService.AdminSoap12"
        name="AdminSoap12" />
      <endpoint address="http://localhost:1551/Services/Part.asmx"
        binding="customBinding" bindingConfiguration="PartSoap12" contract="PartService.PartSoap12"
        name="PartSoap12" />
      <endpoint address="http://localhost:1552/Services/Subscriptions.asmx"
        binding="customBinding" bindingConfiguration="SubscriptionsSoap12"
        contract="SubscriptionsService.SubscriptionsSoap12" name="SubscriptionsSoap12" />
    </client>
  </system.serviceModel>
  <userSettings>
    <CPR_Business_Application_Demo.Properties.Settings>
      <setting name="UserToken" serializeAs="String">
        <value>CPR Business Application Demo</value>
      </setting>
      <setting name="CPRBrokerWebServiceUrl" serializeAs="String">
        <value>http://CprBroker/Services/</value>
      </setting>
      <setting name="NotificationMode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NotificationCallbackWebServiceUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdminAppToken" serializeAs="String">
        <value>07059250-E448-4040-B695-9C03F9E59E38</value>
      </setting>
      <setting name="AppToken" serializeAs="String">
        <value>5f8b7af5-422e-46bb-9273-5e244dc37505</value>
      </setting>
      <setting name="EventBrokerWebServiceUrl" serializeAs="String">
        <value>http://EventBroker/Services/</value>
      </setting>
      <setting name="NotificationFileShare" serializeAs="String">
        <value>C:\</value>
      </setting>
    </CPR_Business_Application_Demo.Properties.Settings>
  </userSettings>
</configuration>