**/Output/
**/bin/
**/obj/
**/debug/
**/aspnet_client/
**/_UpgradeReport_Files/

PART/K3b dataprojekt/
PART/Test Source/
PART/Source/Other/
PART/Source/Old Projects/
PART/Deliveries/
PART/Doc/Data Providers/CPR Direct/TEST_klient_source_og_setup/
PART/Open Source/
PART/Source/Batch UUID assignment/
PART/Source/Business logic toolkit for .NET/
PART/Source/Core/Budget/
PART/Source/CprBroker/CPRDirect.Tests/Resources/Test/
PART/Source/CprBroker/DataRefresher/
PART/Source/Demo/Backup/
PART/Source/Tests/Backup/
PART/Source/InstalledEnvironments/
PART/Source/Updates/DPRUpdateWinTest/
PART/Source/Updates/DPRUpdatesNotificationService/DocAndDeploy/
PART/Source/SQL/XPath/
PART/Source/GK.WebServices/Personmaster/PersonmasterServiceLibrary/webcfg/
PART/Source/GK.WebServices/Personmaster/PersonmasterServiceLibrary/DocAndDeploy/

**/*.suo
**/*.user
**/*.userprefs
**/UpgradeLog.XML
**/UpgradeLog2.XML
**/*.VisualState.xml
**/*.wixobj
**/*.wixpdb
**/*.wixmst
**/*.wixmsp
**/TestResult.xml
**/Thumbs.db