<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="DatabaseCustomActionsFragment">
    <Property Id="Dummy_DatabaseCustomActionsFragmentRefProp" Value="-"/>

    <Property Id="DB_ALLPROPERTIES_CPR" Secure="yes" />
    <Property Id="DB_ALLPROPERTIES_EVENT" Secure="yes" />

    <CustomAction Id="CA_Set_DB_AllProperties_Overwrite" Execute="immediate" Script="vbscript">
      <![CDATA[
        Session.Property("RollbackDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_CPR")
        Session.Property("DeployDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_CPR")
        Session.Property("RemoveDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_CPR")
        
        Session.Property("RollbackEventBrokerDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_EVENT")
        Session.Property("DeployEventBrokerDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_EVENT")
        Session.Property("RemoveEventBrokerDatabase") = Session.Property("CommonProductProperties") & ";" & Session.Property("DB_ALLPROPERTIES_EVENT")
    ]]>
  </CustomAction>    
    
    <CustomAction Id="RollbackEventBrokerDatabase" BinaryKey="EventBrokerInstallersDll" DllEntry="RollbackEventBrokerDatabase" Execute="rollback" />
    <CustomAction Id="DeployEventBrokerDatabase" BinaryKey="EventBrokerInstallersDll" DllEntry="DeployEventBrokerDatabase" Execute="deferred" />
    <CustomAction Id="RemoveEventBrokerDatabase" BinaryKey="EventBrokerInstallersDll" DllEntry="RemoveEventBrokerDatabase" Execute="deferred" />

    <InstallExecuteSequence>
      <!--Reset standard database properties to CPR database to let standard custom actions run correctly-->
      <Custom Action="CA_Set_DB_AllProperties_Overwrite" After="CA_Set_DB_AllProperties">NOT PATCH</Custom>

      <!--Standard custom actions-->
      <Custom Action="RollbackEventBrokerDatabase" After="RemoveDatabase">NOT REMOVE AND NOT PATCH</Custom>
      <Custom Action="DeployEventBrokerDatabase" After="RollbackEventBrokerDatabase">NOT REMOVE AND NOT PATCH</Custom>
      <Custom Action="RemoveEventBrokerDatabase" After="DeployEventBrokerDatabase"><![CDATA[REMOVE = "ALL" AND NOT PATCH]]></Custom>

    </InstallExecuteSequence>

  </Fragment>
</Wix>