<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="DatabaseCustomActionsFragment">
    <Property Id="Dummy_DatabaseCustomActionsFragmentRefProp" Value="-"/>

    <Property Id="DB_ALLPROPERTIES_CPR" Secure="yes" />
    <Property Id="DB_ALLPROPERTIES_EVENT" Secure="yes" />

    <CustomAction Id="RollbackDatabase_Overwrite" Property="RollbackDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_CPR]" />
    <Property Id="RollbackEventBrokerDatabase" Value="-"/>
    <CustomAction Id="RollbackEventBrokerDatabase_" Property="RollbackEventBrokerDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_EVENT]" />
    <CustomAction Id="RollbackEventBrokerDatabase" BinaryKey="InstallersDll" DllEntry="RollbackEventBrokerDatabase" Execute="rollback" />

    <CustomAction Id="DeployDatabase_Overwrite" Property="DeployDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_CPR]" />
    <Property Id="DeployEventBrokerDatabase" Value="-"/>
    <CustomAction Id="DeployEventBrokerDatabase_" Property="DeployEventBrokerDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_EVENT]" />
    <CustomAction Id="DeployEventBrokerDatabase" BinaryKey="InstallersDll" DllEntry="DeployEventBrokerDatabase" Execute="deferred" />

    <CustomAction Id="RemoveDatabase_Overwrite" Property="RemoveDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_CPR]" />
    <Property Id="RemoveEventBrokerDatabase" Value="-"/>
    <CustomAction Id="RemoveEventBrokerDatabase_" Property="RemoveEventBrokerDatabase" Value="[CommonProductProperties];[DB_ALLPROPERTIES_EVENT]" />
    <CustomAction Id="RemoveEventBrokerDatabase" BinaryKey="InstallersDll" DllEntry="RemoveEventBrokerDatabase" Execute="deferred" />

    <InstallExecuteSequence>
      <Custom Action="RollbackDatabase_Overwrite" After="RollbackDatabase_">NOT REMOVE</Custom>
      <Custom Action="RollbackEventBrokerDatabase_" After="RollbackDatabase_">NOT REMOVE</Custom>
      <Custom Action="RollbackEventBrokerDatabase" After="RollbackDatabase">NOT REMOVE</Custom>

      <Custom Action="DeployDatabase_Overwrite" After="DeployDatabase_">NOT REMOVE</Custom>
      <Custom Action="DeployEventBrokerDatabase_" After="DeployDatabase_">NOT REMOVE</Custom>
      <Custom Action="DeployEventBrokerDatabase" After="DeployDatabase">NOT REMOVE</Custom>

      <Custom Action="RemoveDatabase_Overwrite" After="RemoveDatabase_"><![CDATA[REMOVE = "ALL"]]></Custom>
      <Custom Action="RemoveEventBrokerDatabase_" After="RemoveDatabase_"><![CDATA[REMOVE = "ALL"]]></Custom>
      <Custom Action="RemoveEventBrokerDatabase" After="RemoveDatabase"><![CDATA[REMOVE = "ALL"]]></Custom>

    </InstallExecuteSequence>

  </Fragment>
</Wix>