<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="EventBrokerSpecific">
    <Property Id="Dummy_EventBrokerSpecificRefProp" Value="-"/>

    <CustomAction Id="SetCprBrokerUrl"  BinaryKey="EventBrokerInstallersDll" DllEntry="SetCprBrokerUrl" Execute="deferred"/>
    <CustomAction Id="InstallBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="InstallBackendService" Execute="deferred"/>
    <CustomAction Id="UnInstallBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="UnInstallBackendService" Execute="deferred"/>
    <CustomAction Id="RollbackBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="RollbackBackendService" Execute="rollback" Return="ignore"/>
    
    <InstallExecuteSequence>
      <Custom Action="SetCprBrokerUrl" After="CreateWebsite">NOT REMOVE AND NOT PATCH</Custom>
      <Custom Action="RollbackBackendService" After="RollbackWebsite">NOT REMOVE AND NOT PATCH</Custom>
      <Custom Action="InstallBackendService" After="RollbackBackendService">NOT REMOVE AND NOT PATCH</Custom>
      <Custom Action="UnInstallBackendService" Before="RemoveFiles"><![CDATA[REMOVE = "ALL" AND NOT PATCH]]></Custom>      
    </InstallExecuteSequence>
	</Fragment>
</Wix>