<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment Id="EventBrokerFragment">
    <Property Id="Dummy_EventBrokerFragmentRefProp" Value="-"/>

    <PropertyRef Id="Dummy_DatabaseCustomActionsFragmentRefProp"/>
    <PropertyRef Id="Dummy_WebsiteCustomActionsFragmentRefProp"/>

    <Binary Id="EventBrokerInstallersDll" SourceFile="..\..\EventBroker\Output\CprBroker.Installers.EventBrokerInstallers.CA.dll"/>
    
	</Fragment>
</Wix>