<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="20256D4C-F352-4B43-A383-D32FDBF95F9F" Name="DPR Updates" Language="1033" Version="1.1.0.0" Manufacturer="ITST" UpgradeCode="54EFDD4F-03FC-44A8-9C87-6500E51DA70F">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <PropertyRef Id="Dummy_ConditionsFragmentRefProp"/>
    <PropertyRef Id="Dummy_CustomizationsFragmentRefProp"/>
    <PropertyRef Id="Dummy_DialogsFragmentRefProp"/>
    <PropertyRef Id="Dummy_CprBrokerDialogFragmentRefProp"/>
    <PropertyRef Id="Dummy_FilesFragmentRefProperty"/>
    <PropertyRef Id="Dummy_UpdateServiceFragmentRefProp"/>
    <PropertyRef Id="Dummy_StandardActionTextFragmentRefProp"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MANUFACTURERDIR" Name="ITST">
          <Directory Id="INSTALLDIR" Name="DPR Updates">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Upgrade Id="54EFDD4F-03FC-44A8-9C87-6500E51DA70F">
      <!--Detect old version -->
      <UpgradeVersion Property="OLDER_VERSION_DETECTED" Maximum="1.1.0.0" IncludeMaximum="no" OnlyDetect="yes"></UpgradeVersion>

      <!--Detect newer versions, set a property that triggers a condition failure -->
      <UpgradeVersion Property="NEWER_VERSION_DETECTED" Minimum="1.1.0.0" IncludeMinimum="no" OnlyDetect="yes"></UpgradeVersion>
    </Upgrade>

    <Feature Id="ProductFeature" Title="Installer" Level="1">
      <ComponentGroupRef Id="CMPGRP_bin"/>
      <ComponentGroupRef Id="CMPGRP_Database"/>
      <ComponentRef Id="CMP_UpdatesRegistry"/>
      <ComponentRef Id="CMP_MsiZap"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
  </Product>
</Wix>
