<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="CprBrokerDialogFragment">
    <Property Id="Dummy_CprBrokerDialogFragmentRefProp" Value="-"/>

    <UI>
      <Dialog Id="CprBrokerDialog" Width="370" Height="270" Modeless="no" Title="!(loc.CprBrokerDialog_Title)">

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CprBrokerDialogTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CprBrokerDialogDescription)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.CprBrokerDialogBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="cprBrokerServicesUrlText" Type="Text" Text="CprBroker Part service Url" X="20" Y="70" Width="100" Height="17"/>
        <Control Id="cprBrokerServicesUrlEdit" Type="Edit" Text="[PARTSERVICEURL]" Property="PARTSERVICEURL" X="120" Y="70" Width="180" Height="17"/>
        <!--<Control Id="cprBrokerServicesUrlText2" Type="Text" Text="/Part.asmx" X="290" Y="70" Width="80" Height="17"/>
        <Control Id="cprBrokerServicesUrlText3" Type="Text" Text="/Admin.asmx" X="290" Y="90" Width="80" Height="17"/>-->

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Order="1" Event="DoAction" Value="ValidateCprBrokerServicesUrl">1</Publish>
          <Publish Order="2" Event="DoAction" Value="ValidateCprBrokerServicesUrl_ShowError"><![CDATA[CPRBROKERSERVICESURL_VALID <> "True" AND DB_VALID <> "-"]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />

        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

      </Dialog>
    </UI>
  </Fragment>
</Wix>