<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="DprUpdateServiceFragment">
    <Property Id="Dummy_DprUpdateServiceFragmentRefProp" Value="-"/>

    <Property Id="PARTSERVICEURL" Value="http://cprbroker/Services/Part.asmx">
      <RegistrySearch Id="RS_CprBrokerServiceUrl" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker" Type="raw" Name="PartServiceUrl"/>
    </Property>
    <Property Id="CPRBROKERSERVICESURL_VALID" Value="-"/>

    <Property Id="BASEAPPLICATIONTOKEN" Value="07059250-E448-4040-B695-9C03F9E59E38" />

    <Property Id="APPLICATIONTOKEN" Value="-" >
      <RegistrySearch Id="RS_ApplicationToken" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker" Type="raw" Name="ApplicationToken"/>
    </Property>

    <Component Id="CMP_DPRUpdatesRegistry" Directory="INSTALLDIR">
      <RegistryKey Id="REG_DPRUpdatesRegistry" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker">
        <RegistryValue Id="REG_PartServiceUrl" KeyPath="yes" Action="write" Type="string" Name="PartServiceUrl" Value="[PARTSERVICEURL]"/>
      </RegistryKey>
    </Component>

    <CustomAction Id="ValidateCprBrokerServicesUrl" BinaryKey="InstallersDll" DllEntry="ValidateCprBrokerServicesUrl" Return="check" Impersonate="yes" />
    <CustomAction Id="ValidateCprBrokerServicesUrl_ShowError" Script="vbscript">
      <![CDATA[msgbox "Invalid service url"]]>
    </CustomAction>
    <InstallExecuteSequence>
      <Custom Action="ValidateCprBrokerServicesUrl" After="AppSearch"><![CDATA[UILevel < 5 AND NOT REMOVE AND NOT PATCH]]></Custom>
    </InstallExecuteSequence>

    <Property Id="ALL_DPRUPDATEPROPERTIES" Value="-" Hidden="yes"/>
    <CustomAction Id="Set_AllDprUpdateProperties" Property="ALL_DPRUPDATEPROPERTIES" Value="[DeployDatabase];PARTSERVICEURL=[PARTSERVICEURL];BASEAPPLICATIONTOKEN=[BASEAPPLICATIONTOKEN];APPLICATIONTOKEN=[APPLICATIONTOKEN]" />

    <Property Id="RollbackDprUpdatesService" Hidden="yes" />
    <CustomAction Id="RollbackDprUpdatesService_" Property="RollbackDprUpdatesService" Value="[ALL_DPRUPDATEPROPERTIES]" />
    <CustomAction Id="RollbackDprUpdatesService" BinaryKey="InstallersDll" DllEntry="RollbackDprUpdatesService" Execute="rollback" Impersonate="no" />

    <Property Id="InstallDprUpdatesService" Hidden="yes" />
    <CustomAction Id="InstallDprUpdatesService_" Property="InstallDprUpdatesService" Value="[ALL_DPRUPDATEPROPERTIES]" />
    <CustomAction Id="InstallDprUpdatesService" BinaryKey="InstallersDll" DllEntry="InstallDprUpdatesService" Execute="deferred" Impersonate="no" />

    <Property Id="RemoveDprUpdatesService" Hidden="yes" />
    <CustomAction Id="RemoveDprUpdatesService_" Property="RemoveDprUpdatesService" Value="[ALL_DPRUPDATEPROPERTIES]" />
    <CustomAction Id="RemoveDprUpdatesService" BinaryKey="InstallersDll" DllEntry="RemoveDprUpdatesService" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Set_AllDprUpdateProperties" After="AfterInstallInitialize_DB">1</Custom>

      <Custom Action="RollbackDprUpdatesService_" After="Set_AllDprUpdateProperties">NOT REMOVE</Custom>
      <Custom Action="RollbackDprUpdatesService" After="DeployDatabase">NOT REMOVE</Custom>

      <Custom Action="InstallDprUpdatesService_" After="Set_AllDprUpdateProperties">NOT REMOVE</Custom>
      <Custom Action="InstallDprUpdatesService" After="RollbackDprUpdatesService">NOT REMOVE</Custom>

      <Custom Action="RemoveDprUpdatesService_" After="Set_AllDprUpdateProperties"><![CDATA[REMOVE = "ALL"]]></Custom>
      <Custom Action="RemoveDprUpdatesService" Before="RemoveFiles"><![CDATA[REMOVE = "ALL"]]></Custom>

    </InstallExecuteSequence>
  </Fragment>
</Wix>