<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <Fragment>

    <Binary Id="InstallersDll" SourceFile="$(var.OutputPath)CprBrokerWixInstallers.CA.dll"/>
    
    <UI>
      <ComboBox Property="DUMMYPROPERTY">
        <ListItem Text="DUMMYPROPERTY" Value="DUMMYPROPERTY"/>
      </ComboBox>
    </UI>

  </Fragment>
</Wix>
