<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Providers.DPR.Properties.Settings.DPRConnectionString"
            connectionString="Data Source=10.20.1.20;Initial Catalog=DPR;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>