<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="EventBrokerSpecific">
    <Property Id="Dummy_EventBrokerSpecificRefProp" Value="-"/>

    <CustomAction Id="SetCprBrokerUrl"  BinaryKey="EventBrokerInstallersDll" DllEntry="SetCprBrokerUrl" Execute="deferred"/>
    <CustomAction Id="InstallBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="InstallBackendService" Execute="deferred"/>
    <CustomAction Id="UnInstallBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="UnInstallBackendService" Execute="deferred" Return="ignore"/>
    <CustomAction Id="RollbackBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="RollbackBackendService" Execute="rollback" Return="ignore"/>
    <CustomAction Id="CloneDataProviderSectionsToBackendService" BinaryKey="EventBrokerInstallersDll" DllEntry="CloneDataProviderSectionsToBackendService" Execute="deferred" Return="check"/>

    <InstallExecuteSequence>
      <Custom Action="SetCprBrokerUrl" After="CreateWebsite">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>
      <Custom Action="RollbackBackendService" After="RollbackWebsite">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>
      <Custom Action="InstallBackendService" After="RollbackBackendService">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>
      <Custom Action="UnInstallBackendService" Before="RemoveFiles"><![CDATA[REMOVE = "ALL" AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
      <Custom Action="CloneDataProviderSectionsToBackendService" Before="InstallBackendService">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="SetCprBrokerUrl">Setting CPR Broker service url</ProgressText>
      <ProgressText Action="RollbackBackendService">Rolling back backend service</ProgressText>
      <ProgressText Action="InstallBackendService">Installing backend service</ProgressText>
      <ProgressText Action="UnInstallBackendService">Removing backend service</ProgressText>
      <ProgressText Action="CloneDataProviderSectionsToBackendService">Cloning data providers section</ProgressText>
    </UI>
  </Fragment>
</Wix>