<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="EventBrokerFilesFragment">
    <Property Id="Dummy_EventBrokerFilesFragmentRefProp" Value="-" />

    <!--
    <Component Id="CMP_EVENT_" Directory="EVENT_">
      <File Id="FILE_EVENT_" Source="$(var.EventSitePath)" KeyPath="yes"/>
    </Component>
    -->
    <ComponentGroup Id="CMGGRP_EVENT_Root">
      <Component Id="CMP_EVENT_Root_" Directory="EVENT_Website">
        <File Id="FILE_EVENT_Default.aspx" Source="$(var.EventSitePath)Default.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Global.asax" Directory="EVENT_Website">
        <File Id="FILE_EVENT_Global.asax" Source="$(var.EventSitePath)Global.asax" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Web.config" Directory="EVENT_Website">
        <File Id="FILE_EVENT_Web.config" Source="$(var.EventSitePath)Web.config" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_EVENT_bin">
      <Component Id="CMP_EVENT_bin_CprBroker.Config.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Config.dll" Source="$(var.EventSitePath)bin\CprBroker.Config.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Data.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Data.dll" Source="$(var.EventSitePath)bin\CprBroker.Data.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Engine.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Engine.dll" Source="$(var.EventSitePath)bin\CprBroker.Engine.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.EventBroker.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.EventBroker.dll" Source="$(var.EventSitePath)bin\CprBroker.EventBroker.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.EventBroker.Web.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.EventBroker.Web.dll" Source="$(var.EventSitePath)bin\CprBroker.EventBroker.Web.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Schemas.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Schemas.dll" Source="$(var.EventSitePath)bin\CprBroker.Schemas.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Utilities.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Utilities.dll" Source="$(var.EventSitePath)bin\CprBroker.Utilities.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Providers.CPRDirect.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Providers.CPRDirect.dll" Source="$(var.SitePath)bin\CprBroker.Providers.CPRDirect.dll" KeyPath="yes"/>
      </Component>
      
      <Component Id="CMP_EVENT_bin_CprBroker.Providers.Local.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Providers.Local.dll" Source="$(var.SitePath)bin\CprBroker.Providers.Local.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.Providers.PersonMaster.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.Providers.PersonMaster.dll" Source="$(var.SitePath)bin\CprBroker.Providers.PersonMaster.dll" KeyPath="yes"/>
      </Component>
      
      <Component Id="CMP_EVENT_bin_FtpLib.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_FtpLib.dll" Source="$(var.SitePath)bin\ftplib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.EnterpriseLibrary.Common.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.EnterpriseLibrary.Common.dll" Source="$(var.EventSitePath)bin\Microsoft.Practices.EnterpriseLibrary.Common.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.EnterpriseLibrary.Logging.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.EnterpriseLibrary.Logging.dll" Source="$(var.EventSitePath)bin\Microsoft.Practices.EnterpriseLibrary.Logging.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.ObjectBuilder2.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.ObjectBuilder2.dll" Source="$(var.EventSitePath)bin\Microsoft.Practices.ObjectBuilder2.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.ServiceLocation.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.ServiceLocation.dll" Source="$(var.EventSitePath)bin\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.Unity.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.Unity.dll" Source="$(var.EventSitePath)bin\Microsoft.Practices.Unity.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_Microsoft.Practices.Unity.Interception.dll" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_Microsoft.Practices.Unity.Interception.dllL" Source="$(var.EventSitePath)bin\Microsoft.Practices.Unity.Interception.dll" KeyPath="yes"/>
      </Component>

      <Component Id="CMP_EVENT_bin_CprBroker.EventBroker.Backend.exe" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.EventBroker.Backend.exe" Source="$(var.EventOutputPath)CprBroker.EventBroker.Backend.exe" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_bin_CprBroker.EventBroker.Backend.exe.config" Directory="EVENT_bin">
        <File Id="FILE_EVENT_bin_CprBroker.EventBroker.Backend.exe.config" Source="$(var.EventOutputPath)CprBroker.EventBroker.Backend.exe.config" KeyPath="yes"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_EVENT_Config">
      <Component Id="CMP_EVENT_Config_applicationSettings.config" Directory="EVENT_Config">
        <File Id="FILE_EVENT_Config_applicationSettings.config" Source="$(var.EventSitePath)Config\applicationSettings.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Config_connectionStrings.config" Directory="EVENT_Config">
        <File Id="FILE_EVENT_Config_connectionStrings.config" Source="$(var.EventSitePath)Config\connectionStrings.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Config_loggingConfiguration.config" Directory="EVENT_Config">
        <File Id="FILE_EVENT_Config_loggingConfiguration.config" Source="$(var.EventSitePath)Config\loggingConfiguration.config" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_EVENT_Services">
      <Component Id="CMP_EVENT_Services_Notification.asmx" Directory="EVENT_Services">
        <File Id="FILE_EVENT_Services_Notification.asmx" Source="$(var.EventSitePath)Services\Notification.asmx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Services_Subscriptions.asmx" Directory="EVENT_Services">
        <File Id="FILE_EVENT_Services_Subscriptions.asmx" Source="$(var.EventSitePath)Services\Subscriptions.asmx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_EVENT_Services_Web.config" Directory="EVENT_Services">
        <File Id="FILE_EVENT_Services_Web.config" Source="$(var.EventSitePath)Services\Web.config" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_EVENT_Templates">
      <Component Id="CMP_EVENT_Templates_Notification.wsdl" Directory="EVENT_Templates">
        <File Id="FILE_EVENT_Templates_Notification.wsdl" Source="$(var.EventSitePath)Templates\Notification.wsdl" KeyPath="yes"/>
      </Component>
    </ComponentGroup>


  </Fragment>
</Wix>