<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" >
  <Fragment>

    <util:User Id="USR_ADMINUSER" Name="[DB_ADMINUSERNAME]" Password="[DB_ADMINPASSWORD]"/>

    <Binary Id="BIN_CreateDatabaseObjectsSql" SourceFile="$(var.InstallersPath)\Resources\CreatePartDatabaseObjects.sql" />
    <DirectoryRef Id="INSTALLDIR"></DirectoryRef>
    <Component Id="CMP_CREATEDATABASE"  Guid="D73F1080-8443-4552-961A-CECFFD638B1A" Directory="INSTALLDIR" KeyPath="yes">
      <sql:SqlDatabase Id="SQL_Database" Database="[DB_DATABASENAME]" Server="[DB_SERVERNAME]" User="USR_ADMINUSER"  CreateOnInstall="yes"  ConfirmOverwrite="yes" DropOnUninstall="yes">
        <sql:SqlScript Sequence="1" Id="SQL_CreateDatabaseObjects" User="USR_ADMINUSER" BinaryKey="BIN_CreateDatabaseObjectsSql" ExecuteOnInstall="yes" ExecuteOnUninstall="no"/>
      </sql:SqlDatabase>

    </Component>
  </Fragment>
</Wix>