<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <UI Id="InstallDlg_UI">
      <TextStyle Id="Tahoma_Regular" FaceName="Tahome" Size="8"/>
      <TextStyle Id="Tahoma_Bold" FaceName="Tahoma" Size="8" Bold="yes" />
      <TextStyle Id="Tahoma_Italic" FaceName="Tahoma" Size="8" Italic="yes" />
      <TextStyle Id="Tahoma_Title" FaceName="Tahoma" Size="12" Underline="yes" />

      <Property Id="DefaultUIFont" Value="Tahoma_Regular"></Property>

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalErrorDlg" />
      <DialogRef Id="UserExitDlg" />
      <DialogRef Id="ExitDlg"/>

      <Dialog Id="InstallDlg" Width="370" Height="270" Title="[ProductName]" NoMinimize="no">

        <Control Id="Install" Type="PushButton" Text="Install" X="200" Y="243" Width="100" Height="17">
          <Publish Event="NewDialog" Value="WebsiteDialog"><![CDATA[WEB_MULTIPLESITESALLOWED = "True"]]></Publish>
          <Publish Event="NewDialog" Value="WebDirectoryDialog"><![CDATA[WEB_MULTIPLESITESALLOWED = "False"]]></Publish>
        </Control>

        <Control Id="Cancel" Type="PushButton" Text="Cancel" X="310" Y="243" Width="50" Height="17" Cancel="yes">
          <Publish Event="EndDialog" Value="Exit"></Publish>
        </Control>

      </Dialog>
    </UI>
  </Fragment>
</Wix>