<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <PatchCreation Id="D9BA77D5-C16D-458a-8A7E-ABB1C237FC02" AllowMajorVersionMismatches="no" AllowProductCodeMismatches="no" CleanWorkingFolder="no" WholeFilesOnly="yes" >

    <PatchInformation Description="Updates CPR Broker to v. 1.0.1"  Comments="Patch for CPR Broker" Manufacturer="Magenta ApS"  />
    <PatchMetadata AllowRemoval="yes" Description="Updates CPR Broker to v. 1.0.1" ManufacturerName="Magenta ApS" TargetProductName="CPR Broker" MoreInfoURL="http://magenta-aps.dk" Classification="Update" DisplayName="CPR Broker Patch"/>
    
    <Family Name="Sample" DiskId="1000" MediaSrcProp="Sample" SequenceStart="1000">
      <UpgradeImage Id="CprUpgrade" SourceFile="$(var.ProjectDir)$(var.OutDir)en-US\admin\InstallCprBrokerWix.msi" >
        <TargetImage  SourceFile="$(var.ProjectDir)Patch\OldMsi\1.0\admin\InstallCprBrokerWix.msi" Order="1" Id="Target_1_0" IgnoreMissingFiles="no"/>
      </UpgradeImage>
    </Family>

    <PatchSequence PatchFamily="SamplePatchFamily" Sequence="1.0.1.0" Supersede="yes"/>
  </PatchCreation >
</Wix>