<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="b7a9d776-ef52-459a-9a85-4752323b6052" Name="Cpr Broker" Language="1033" Version="1.0.0.0" Manufacturer="ITST" UpgradeCode="da51c2d6-e679-4dd4-a906-48da8e2dc7cf">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <DirectoryRef Id="TARGETDIR"/>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <?include Files.wxi?>
    <?include Logging.wxi?>
    <?include CustomActions.wxi?>
    
    <Feature Id="ProductFeature" Title="InstallCprBrokerWix" Level="1">
      <ComponentGroupRef Id="CMPGRP_Root"/>
      <ComponentGroupRef Id="CMPGRP_bin"/>
      <ComponentGroupRef Id="CMPGRP_Config"/>
      <ComponentGroupRef Id="CMPGRP_Pages"/>
      <ComponentGroupRef Id="CMPGRP_Services"/>
      <ComponentGroupRef Id="CMPGRP_Logging"/>

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
    
  </Product>
</Wix>
