<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>
    <UI>
      <Dialog Id="WebDirectoryDialog" Width="370" Height="270" Modeless="no" >

        <Control Id="label1" Type="Text" Text="The setup will now create the system's website" X="10" Y="10" Width="240" Height="17"/>
        <Control Id="label2" Type="Text" Text="Please enter how you want your site to be created" X="10" Y="30" Width="240" Height="17"/>

        <Control Id="siteNameText2" Type="Text" Text="Site name" X="20" Y="100" Width="60" Height="17">
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
        </Control>
        <Control Id="siteNameCombo" Type="ComboBox" Property="WEB_VIRTUALDIRECTORYSITENAME" Sorted="yes" ComboList="yes" X="80" Y="100" Width="100" Height="17">
          <ComboBox Property="WEB_VIRTUALDIRECTORYSITENAME">
          </ComboBox>
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
        </Control>

        <Control Id="vDirNameText" Type="Text" Text="Virtual directory name" X="20" Y="120" Width="80" Height="17">
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
        </Control>
        <Control Id="vDirNameEdit" Type="Edit" Text="[ProductName]" Property="WEB_VIRTUALDIRECTORYNAME" X="100" Y="120" Width="70" Height="17">
          <Condition Action="enable"><![CDATA[WEB_CREATEASWEBSITE = "False"]]></Condition>
          <Condition Action="disable"><![CDATA[WEB_CREATEASWEBSITE = "True"]]></Condition>
        </Control>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next >" >
          <Publish Event="NewDialog" Value="DatabaseDialog" Order="2">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back">
          <Publish Event="NewDialog" Value="InstallDlg" Order="1">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="EndDialog" Value="Exit"></Publish>
        </Control>

      </Dialog>
    </UI>
  </Fragment>
</Wix>