<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Tests.DBR.Properties.Settings.CprBrokerConnectionString"
            connectionString="data source=locahost\\sqlexpress; database=cprbroker;  integrated security=sspi&quot;" />
        <add name="CprBroker.Tests.DBR.Properties.Settings.RealDprConnectionString"
            connectionString="data source=localhost\\sqlexpress; database=dbr_source; integrated security=sspi" />
        <add name="CprBroker.Tests.DBR.Properties.Settings.ImitatedDprConnectionString"
            connectionString="data source=localhost\\sqlexpress; database=dbr_target; integrated security=sspi" />
    </connectionStrings>
</configuration>