<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration configSource="loggingConfiguration.config" />
</configuration>