<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="CprBroker" Name="CprBroker">
        <Directory Id="CprBroker_Website" Name="Website" >
          <Directory Id="CprBroker_App_Themes" Name="App_Themes">
            <Directory Id="CprBroker_DefaultTheme" Name="DefaultTheme"/>
          </Directory>
          <Directory Id="CprBroker_bin" Name="bin" />
          <Directory Id="CprBroker_Config" Name="Config" />
          <Directory Id="CprBroker_Pages" Name="Pages">
            <Directory Id="CprBroker_CSS" Name="CSS"/>
            <Directory Id="CprBroker_Images" Name="Images"/>
          </Directory>
          <Directory Id="CprBroker_Services" Name="Services" />
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>