<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="Website" Name="Website" >
        <Directory Id="App_Themes" Name="App_Themes">
          <Directory Id="DefaultTheme" Name="DefaultTheme"/>
        </Directory>
        <Directory Id="bin" Name="bin" />
        <Directory Id="Config" Name="Config" />
        <Directory Id="Pages" Name="Pages">
          <Directory Id="CSS" Name="CSS"/>
          <Directory Id="Images" Name="Images"/>
        </Directory>
        <Directory Id="Services" Name="Services" />
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>