<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <ComponentGroup Id="CMPGRP_Root">
      <Component Id="CMP_CPR_Default_ASPX" Directory="CPR_Website" >
        <File Id="FILE_CPR_Root_Default_ASPX" Source="$(var.SitePath)Default.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_SiteMap" Directory="CPR_Website">
        <File Id="FILE_CPR_Root_SiteMap" Source="$(var.SitePath)Web.sitemap" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Global" Directory="CPR_Website">
        <File Id="FILE_CPR_Root_Global" Source="$(var.SitePath)Global.asax" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_AppThemes">
      <Component Id="CML_AppThemes_Default_skin" Directory="CPR_DefaultTheme" >
        <File Id="FILE_CPR_AppThemes_DEFAULT_SKIN" Source="$(var.SitePath)App_Themes\DefaultTheme\Default.skin" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_Config">
      <Component Id="CMP_CPR_Web_CONFIG" Directory="CPR_Website">
        <File Id="FILE_CPR_Root_WEB_CONFIG" Source="$(var.SitePath)web.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_ApplicationSettings_CONFIG" Directory="CPR_Config">
        <File Id="FILE_CPR_Config_ApplicationSettings_CONFIG" Source="$(var.SitePath)Config\applicationSettings.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_ConnectionStrings_CONFIG" Directory="CPR_Config">
        <File Id="FILE_CPR_Config_ConnectionStrings_CONFIG" Source="$(var.SitePath)Config\connectionStrings.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_LoggingConfiguration_CONFIG" Directory="CPR_Config">
        <File Id="FILE_CPR_Config_LoggingConfiguration_CONFIG" Source="$(var.SitePath)Config\loggingConfiguration.config" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_ServicesWeb_CONFIG" Directory="CPR_Services">
        <File Id="FILE_CPR_Services_WEB_CONFIG" Source="$(var.SitePath)Services\web.config" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_bin">
      <Component Id="CMP_CPR_Config_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Config_DLL" Source="$(var.SitePath)bin\CprBroker.Config.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Data_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Data_DLL" Source="$(var.SitePath)bin\CprBroker.Data.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Engine_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Engine_DLL" Source="$(var.SitePath)bin\CprBroker.Engine.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Schemas_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Schemas_DLL" Source="$(var.SitePath)bin\CprBroker.Schemas.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Utilities_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Utilities_DLL" Source="$(var.SitePath)bin\CprBroker.Utilities.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_PartInterface_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_PartInterface_DLL" Source="$(var.SitePath)bin\CprBroker.PartInterface.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Web_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Web_DLL" Source="$(var.SitePath)bin\CprBroker.Web.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_DPR_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_DPR_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.DPR.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_KMD_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_KMD_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.KMD.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_E_M_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_E_M_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.E_M.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_CPRDirect_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_CPRDirect_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.CPRDirect.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_CprServices_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_CprServices_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.CprServices.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Local_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_Local_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.Local.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_LocalSearch_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_LocalSearch_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.Local.Search.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_PersonMaster_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_PersonMaster_DLL" Source="$(var.SitePath)bin\CprBroker.Providers.PersonMaster.dll" KeyPath="yes"/>
      </Component>

      <Component Id="CMP_CPR_EntLib_Common_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_Common_DLL" Source="$(var.SitePath)bin\Microsoft.Practices.EnterpriseLibrary.Common.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_EntLib_Logging_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_Logging_DLL" Source="$(var.SitePath)bin\Microsoft.Practices.EnterpriseLibrary.Logging.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_EntLib_ObjectBuilder2_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_ObjectBuilder2_DLL" Source="$(var.SitePath)bin\Microsoft.Practices.ObjectBuilder2.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_EntLib_ServiceLocation_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_ServiceLocation_DLL" Source="$(var.SitePath)bin\Microsoft.Practices.ServiceLocation.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_EntLib_Unity_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_Unity_Dll" Source="$(var.SitePath)bin\Microsoft.Practices.Unity.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_EntLib_Interception_Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_EntLib_Interception_DLL" Source="$(var.SitePath)bin\Microsoft.Practices.Unity.Interception.dll" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_FtpLib__Dll" Directory="CPR_bin" Guid="45F81753-9EDB-48FB-A184-3469CA5E2D50">
        <RemoveFile Id="Remove_CPR_FtpLib__Dll" Name="ftplib.dll" On="both"/>
      </Component>
      <Component Id="CMP_CPR_AjaxControlToolkit__Dll" Directory="CPR_bin">
        <File Id="FILE_CPR_bin_AjaxControlToolkit__DLL" Source="$(var.SitePath)bin\AjaxControlToolkit.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_Pages">
      <Component Id="CMP_CPR_Site_MASTER" Directory="CPR_Pages">
        <File Id="FILE_CPR_Pages_Site_MASTER" Source="$(var.SitePath)Pages\Site.master" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_DataProviders_ASPX" Directory="CPR_Pages">
        <File Id="FILE_CPR_Pages_DataProviders_ASPX" Source="$(var.SitePath)Pages\DataProviders.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_LogEntries_ASPX" Directory="CPR_Pages">
        <RemoveFile Id="Remove_CPR_LogEntries_ASPX" Name="LogEntries.aspx" On="install" />
        <File Id="FILE_CPR_Pages_LogEntries_ASPX" Source="$(var.SitePath)Pages\LogEntries.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Applications_ASPX" Directory="CPR_Pages">
        <File Id="FILE_CPR_Pages_Applications_ASPX" Source="$(var.SitePath)Pages\Applications.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Budget_ASPX" Directory="CPR_Pages">
        <RemoveFile Id="Remove_CPR_Budget_ASPX" Name="Budget.aspx" On="install" />
        <File Id="FILE_CPR_Pages_Budget_ASPX" Source="$(var.SitePath)Pages\Budget.aspx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_ExternalCalls_ASPX" Directory="CPR_Pages">
        <RemoveFile Id="Remove_CPR_ExternalCalls_ASPX" Name="ExternalCalls.aspx" On="install" />
        <File Id="FILE_CPR_Pages_ExternalCalls_ASPX" Source="$(var.SitePath)Pages\ExternalCalls.aspx" KeyPath="yes"/>
      </Component>

      <!-- Controls folder -->
      <Component Id="CMP_CPR_Controls_Pager_ASCX" Directory="CPR_Controls">
        <RemoveFile Id="Remove_CPR_Controls_Pager_ASCX" Name="Pager.ascx" On="install" />
        <File Id="FILE_CPR_Controls_Pager_ASCX" Source="$(var.SitePath)Pages\Controls\Pager.ascx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Controls_PeriodSelector_ASCX" Directory="CPR_Controls">
        <RemoveFile Id="Remove_CPR_Controls_PeriodSelector_ASCX" Name="PeriodSelector.ascx" On="install" />
        <File Id="FILE_CPR_Controls_PeriodSelector_ASCX" Source="$(var.SitePath)Pages\Controls\PeriodSelector.ascx" KeyPath="yes"/>
      </Component>

      <!-- Css folder -->
      <Component Id="CMP_CPR_CSS" Directory="CPR_CSS">
        <RemoveFile Id="Remove_CPR_CSS" Name="style.css" On="install" />
        <File Id="FILE_CPR_CSS" Source="$(var.SitePath)Pages\CSS\style.css" KeyPath="yes"/>
      </Component>

      <!-- Images folder -->
      <Component Id="CMP_CPR_IMAGES_Down" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_Down" Source="$(var.SitePath)Pages\Images\Down.jpg" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_left_menu_bg" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_left_menu_bg" Source="$(var.SitePath)Pages\Images\left_menu_bg.gif" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_left_menu_top" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_left_menu_top" Source="$(var.SitePath)Pages\Images\left_menu_top.gif" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_mid_top" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_mid_top" Source="$(var.SitePath)Pages\Images\mid_top.gif" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_transparency" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_transparency" Source="$(var.SitePath)Pages\Images\transparency.gif" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_unn_bottom" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_unn_bottom" Source="$(var.SitePath)Pages\Images\unn_bottom.gif" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_IMAGES_Up" Directory="CPR_Images">
        <File Id="FILE_CPR_IMAGES_Up" Source="$(var.SitePath)Pages\Images\Up.jpg" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CMPGRP_Services">
      <Component Id="CMP_CPR_Admin_ASMX" Directory="CPR_Services">
        <File Id="FILE_CPR_Services_Admin_ASPX" Source="$(var.SitePath)Services\Admin.asmx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Events_ASMX" Directory="CPR_Services">
        <File Id="FILE_CPR_Services_Events_ASPX" Source="$(var.SitePath)Services\Events.asmx" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_CPR_Part_ASMX" Directory="CPR_Services">
        <File Id="FILE_CPR_Services_Part_ASPX" Source="$(var.SitePath)Services\Part.asmx" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>