<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <ComponentGroup Id="CMPGRP_Logging">
      <Component Id="CMP_CPR_Logging" Directory="CPR_Website">
        <File Id="FILE_CPR_CprBroker.log" Source="CprBroker/Resources/CprBroker.log" >
          <util:PermissionEx User="NT AUTHORITY\NETWORK SERVICE" GenericWrite="yes" />
        </File>
        <util:EventSource Log="Application" EventMessageFile="[NETFRAMEWORK20INSTALLROOTDIR]EventLogMessages.dll" Name="Cpr Broker"/>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>