<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment>

    <Property Id="WEB_MULTIPLESITESALLOWED" Value="True"/>
    <Property Id="WEB_CREATEASWEBSITE" Value="True"/>
    <Property Id="WEB_SITENAME" Value="CprBroker" />
    <Property Id="WEB_VIRTUALDIRECTORYSITEPATH" Value="CprBroker" />
    <Property Id="WEB_VIRTUALDIRECTORYNAME" Value="CprBroker" />

    <CustomAction Id="PopulateWebSites" BinaryKey="InstallersDll" DllEntry="PopulateWebSites" Execute="immediate" Return="check" Impersonate="no"></CustomAction>
    <CustomAction Id="CreateCprBrokerWebsite" BinaryKey="InstallersDll" DllEntry="CreateCprBrokerWebsite" Execute="immediate" Return="check" Impersonate="no"></CustomAction>
    
    <InstallUISequence >
      <Custom Action="PopulateWebSites" After="CostFinalize"/>
    </InstallUISequence>

    <InstallUISequence>
      <Custom Action="CreateCprBrokerWebsite" After="ExecuteAction"/>
    </InstallUISequence>

  </Fragment>
</Wix>