<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GKApp2010.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="FlatFileTrace01" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
          fileName=".\GKApp2010.log" header="" footer="" formatter="SlimFormat01" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
          template="{timestamp}: {message}{newline}&#xA;" name="SlimFormat01" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFileTrace01" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFileTrace01" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <dataConfiguration defaultDatabase="GkCoreDBV4" />
  <connectionStrings>
    <add name="GkCoreDBV4" connectionString="Server=PERSONMASTER;Database=PersonMaster;User ID=CoreDbUser;Pwd=mostSecretPswd"
      providerName="System.Data.SqlClient" />
    <add name="DPRUpdates" connectionString="Server=DPR;Database=DPR;User ID=DPRUpdateUser;Pwd=mostSecretPswd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <GKApp2010.Properties.Settings>
      <setting name="SMTPServerAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DefaultSendFromAddress" serializeAs="String">
        <value>GKApp2010@gentofte.dk</value>
      </setting>
      <setting name="DefaultSendToAddress" serializeAs="String">
        <value>someone@gentofte.dk</value>
      </setting>
      <setting name="DefaultSubjectPrefix" serializeAs="String">
        <value>GKApp2011</value>
      </setting>
      <setting name="SendEmailOnError" serializeAs="String">
        <value>True</value>
      </setting>
    </GKApp2010.Properties.Settings>
  </applicationSettings>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="GKApp2010.GKACoreService">
        <endpoint address="" binding="wsHttpBinding" contract="GKApp2010.IGKACoreService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/GKApp2010/GKACoreService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings />
    
    <client />
    
  </system.serviceModel>
  
</configuration>

