<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.DataProviderKeysSection, CprBroker.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="dataProviders" type="CprBroker.Engine.DataProvidersConfigurationSection, CprBroker.Engine"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>
  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>orOInV68nJDoSt+dSTXHdZ6gRySF73a4eltX1k5Uq+Go1SC+kDaRIyJY1Qz/c0lKD5es68pMMUs62iECACuvYvU4EWXMEeyUJzr7amPlXaK8tEUfL+MwWxxbN30/r8B5opuEktY0yItu/U+UBEzXZCsmI2YhiltpYkUOI3c94ts=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>Ged9kYmrJAWIImOVcwm0WTPPtFneBFclFYIaBjPBCu923SKdYJVhYLfPJ8lOiafKm+YlsLDlxwhBLTGru9ncImsYVx/wi13T3kmspeF9OIkY3C1hdJcT8PkfPOUYvXk30DnfFd9JKDdSDMrQmzFZ+lmOx2k02njytgpYACkXgt8viPIfk8iFjD+0ueQbWPmfeM6WTpmRsT6F9qXBttNRUgV+l/o9I2iRM3FJG4ojKs8Wk++juSIyC3stnAZQ1G8A+/p1yauJcSfqZGARkwvVB+tLCSMIbitnBysgW1GSMle6knmPZXrJUXgKH9s7YVnjBeXf+j3QtfvVW8+klS7EdBBy4+DeaZGIND9HA4kLRURgw7FWH5mCjs/p+Bi3Kz0lda2Be6m8D1y2fIu7pdxvBtRlFUCKpx5GHR5pi3g+21VEiVaGML9r+ZeN5VSiViVi2MM19gnUdzg=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
    <dataProviders>
      <knownTypes>
        <add type="CprBroker.EventBroker.Subscriptions.SubscriptionDataProvider, CprBroker.EventBroker"/>
        <add type="CprBroker.Engine.Local.AdminDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Ping.PingDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Slet.RemovePersonDataProvider, CprBroker.Slet" />
      </knownTypes>
    </dataProviders>
  </dataProvidersGroup>
  <appSettings/>
  <connectionStrings configSource="Config\connectionStrings.config"/>
  <applicationSettings>
    <CprBroker.Config.Properties.Settings configSource="Config\applicationSettings.config"/>
  </applicationSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration configSource="Config\loggingConfiguration.config"/>
</configuration>