<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UpdateLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="FlatFileTrace01" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName=".\E_MUpdatesNotificationService.log" header="" footer="" formatter="SlimFormat01"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(FixedFormatISOInternationalDate)} {timestamp(FixedFormatTime)}: {message}" name="SlimFormat01"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFileTrace01"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFileTrace01"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <connectionStrings>
    <add name="E_MUpdates" connectionString="Server=E_M;Database=E_M;User ID=E_MUpdates;Pwd=-" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <applicationSettings>
    <UpdateLib.Properties.Settings>
      <setting name="CPRBrokerPartServiceUrl" serializeAs="String">
        <value>http://cprbroker/Services/Part.asmx</value>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ApplicationToken" serializeAs="String">
        <value>9B24682D-A4EF-4C71-AF0A-1A6067FC3CBE</value>
      </setting>
    </UpdateLib.Properties.Settings>
  </applicationSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
