<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <Fragment Id="CprBrokerUIFragment">

    <Property Id="ApplicationFolderName" Value="Cpr Broker" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp"/>
    <WixVariable Id="WixUIExclamationIco" Value="Bitmaps\exclamic.ico"/>
    <WixVariable Id="WixUIInfoIco" Value="Bitmaps\info.ico"/>
    <WixVariable Id="WixUINewIco" Value="Bitmaps\New.ico"/>
    <WixVariable Id="WixUIUpIco" Value="Bitmaps\Up.ico"/>

    <Binary Id="WixUI_Bmp_Banner" SourceFile="!(wix.WixUIBannerBmp=$(var.bannerBmp))" />
    <Binary Id="WixUI_Bmp_Dialog" SourceFile="!(wix.WixUIDialogBmp=$(var.dialogBmp))" />
    <Binary Id="WixUI_Ico_Exclam" SourceFile="!(wix.WixUIExclamationIco=$(var.exclamationIco))" />
    <Binary Id="WixUI_Ico_Info" SourceFile="!(wix.WixUIInfoIco=$(var.infoIco))" />
    <Binary Id="WixUI_Bmp_New" SourceFile="!(wix.WixUINewIco=$(var.newIco))" />
    <Binary Id="WixUI_Bmp_Up" SourceFile="!(wix.WixUIUpIco=$(var.upIco))" />
    <WixVariable Id="WixUICostingPopupOptOut" Value="1" Overridable="yes" />

    <UI Id="CprBrokerUI">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT (Installed OR OLDER_VERSION_DETECTED)</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed OR OLDER_VERSION_DETECTED</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Property="DB_Feature" Value="CPR" Order="4"><![CDATA[WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Property="WEB_Feature" Value="CPR" Order="5"><![CDATA[WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="PreWebDialog" Order="6"><![CDATA[WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="WebSiteOrDirectoryDialog" Order="7"><![CDATA[(WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1") AND (WEB_MultipleSitesAllowed = "True") AND (WEB_SitesFound)]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="WebsiteDialog" Order="7"><![CDATA[(WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1") AND (WEB_MultipleSitesAllowed = "True") AND (NOT WEB_SitesFound)]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="WebDirectoryDialog" Order="7"><![CDATA[(WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1") AND (WEB_MultipleSitesAllowed = "False")]]></Publish>
      
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <!-- - - - - - - - - - - - - - - - - - - -->
      <!--Database and web dialogs-->
      <!-- - - - - - - - - - - - - - - - - - - -->

      <!-- Back-->
      <Publish Dialog="WebSiteOrDirectoryDialog" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1"><![CDATA[WEB_Feature = "CPR"]]></Publish>
      <Publish Dialog="WebSiteOrDirectoryDialog" Control="Back" Event="NewDialog" Value="EventBrokerDialog" Order="1"><![CDATA[WEB_Feature = "EVENT"]]></Publish>
      <!-- Next-->
      <Publish Dialog="WebSiteOrDirectoryDialog" Control="Next"  Event="DoAction" Value="PreDatabaseDialog" Order="101"><![CDATA[WEB_Valid = "True"]]></Publish>
      <Publish Dialog="WebSiteOrDirectoryDialog" Control="Next" Event="NewDialog" Value="DatabaseDialog" Order="102"><![CDATA[WEB_Valid = "True"]]></Publish>

      <!-- Back -->
      <Publish Dialog="WebsiteDialog" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1"><![CDATA[WEB_Feature = "CPR"]]></Publish>
      <Publish Dialog="WebsiteDialog" Control="Back" Event="NewDialog" Value="EventBrokerDialog" Order="1"><![CDATA[WEB_Feature = "EVENT"]]></Publish>
      <!-- Next -->
      <Publish Dialog="WebsiteDialog" Control="Next"  Event="DoAction" Value="PreDatabaseDialog" Order="101"><![CDATA[WEB_Valid = "True"]]></Publish>
      <Publish Dialog="WebsiteDialog" Control="Next" Event="NewDialog" Value="DatabaseDialog" Order="102"><![CDATA[WEB_Valid = "True"]]></Publish>
      
      <!-- Back -->
      <Publish Dialog="WebDirectoryDialog" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1"><![CDATA[WEB_Feature = "CPR"]]></Publish>
      <Publish Dialog="WebDirectoryDialog" Control="Back" Event="NewDialog" Value="EventBrokerDialog" Order="1"><![CDATA[WEB_Feature = "EVENT"]]></Publish>
      <!-- Next -->
      <Publish Dialog="WebDirectoryDialog" Control="Next"  Event="DoAction" Value="PreDatabaseDialog" Order="101"><![CDATA[WEB_Valid = "True"]]></Publish>
      <Publish Dialog="WebDirectoryDialog" Control="Next" Event="NewDialog" Value="DatabaseDialog" Order="102"><![CDATA[WEB_Valid = "True"]]></Publish>

      <!--Database-->
      <!-- Back -->
      <Publish Dialog="DatabaseDialog" Control="Back"  Event="DoAction" Value="PreWebDialog" Order="1">1</Publish>
      <Publish Dialog="DatabaseDialog" Control="Back" Event="NewDialog" Value="WebSiteOrDirectoryDialog" Order="2"><![CDATA[(WEB_MultipleSitesAllowed = "True") AND (WEB_SitesFound)]]></Publish>
      <Publish Dialog="DatabaseDialog" Control="Back" Event="NewDialog" Value="WebsiteDialog" Order="2"><![CDATA[(WEB_MultipleSitesAllowed = "True") AND (NOT WEB_SitesFound)]]></Publish>
      <Publish Dialog="DatabaseDialog" Control="Back" Event="NewDialog" Value="WebDirectoryDialog" Order="2"><![CDATA[WEB_MultipleSitesAllowed = "False"]]></Publish>
      <!-- Next -->
      <Publish Dialog="DatabaseDialog" Control="Next" Event="NewDialog" Value="EventBrokerDialog" Order="102"><![CDATA[DB_Feature = "CPR" AND DB_Valid = "True"]]></Publish>
      <Publish Dialog="DatabaseDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="102"><![CDATA[DB_Feature = "EVENT" AND DB_Valid = "True"]]></Publish>

      <!-- Event broker -->
      <!-- Back -->
      <Publish Dialog="EventBrokerDialog" Control="Back" Property="DB_Feature" Value="CPR" Order="101">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Back" Property="WEB_Feature" Value="CPR" Order="102">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Back" Event="DoAction" Value="PreDatabaseDialog" Order="103">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Back" Event="NewDialog" Value="DatabaseDialog" Order="104">1</Publish>
      <!-- Next -->
      <Publish Dialog="EventBrokerDialog" Control="Next" Property="DB_Feature" Value="EVENT" Order="101">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Next" Property="WEB_Feature" Value="EVENT" Order="102">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Next" Event="DoAction" Value="PreWebDialog" Order="103">1</Publish>
      <Publish Dialog="EventBrokerDialog" Control="Next" Event="NewDialog" Value="WebSiteOrDirectoryDialog" Order="104"><![CDATA[(WEB_MultipleSitesAllowed = "True") AND (WEB_SitesFound) ]]></Publish>
      <Publish Dialog="EventBrokerDialog" Control="Next" Event="NewDialog" Value="WebsiteDialog" Order="105"><![CDATA[(WEB_MultipleSitesAllowed = "True") AND (NOT WEB_SitesFound) ]]></Publish>
      <Publish Dialog="EventBrokerDialog" Control="Next" Event="NewDialog" Value="WebDirectoryDialog" Order="105"><![CDATA[WEB_MultipleSitesAllowed = "False"]]></Publish>

      <!-- - - - - - - - - - - - - -  -->
      <!--Final dialogs-->
      <!-- - - - - - - - - - - - - -  -->

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseDialog" Order="1">NOT (Installed OR OLDER_VERSION_DETECTED)</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed OR OLDER_VERSION_DETECTED</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
      <Property Id="ARPNOREPAIR" Value="1" />
    </UI>

    <InstallUISequence>
      <Show Dialog="WelcomeDlg"  Before="ProgressDlg"></Show>
      <Show Dialog="ProgressDlg" Before="ExecuteAction" ></Show>
    </InstallUISequence>

  </Fragment>
</Wix>