<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Config.Properties.Settings.EventBrokerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PartEventBroker;User ID=cpr;Password=cpr" />
        <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PART;User ID=cpr;Password=cpr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CprBroker.Config.Properties.Settings>
            <setting name="DataProviderMillisecondsTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="EventsServiceUrl" serializeAs="String">
                <value>http://CprBroker/Services/Events.asmx</value>
            </setting>
            <setting name="ReturnCityNameInDistrictName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CprDirectReturnsNewestFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Modulus11LowLevelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventBrokerNotificationRetryIntervalMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EventBrokerNotificationMaxRetry" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CprDirectAllowPartial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log4NetConfig" serializeAs="String">
                <value>log4net.config</value>
            </setting>
            <setting name="Log4NetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </CprBroker.Config.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
