<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Config.Properties.Settings.EventBrokerConnectionString"
            connectionString="Data Source=SQLServer;Initial Catalog=PartEventBroker;User ID=cpr;Password=cpr" />
        <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString"
            connectionString="Data Source=SQLServer;Initial Catalog=PART;User ID=cpr;Password=cpr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CprBroker.Config.Properties.Settings>
            <setting name="DataProviderMillisecondsTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="DataContextDeadLockWaitMilliseconds" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DataProviderRefreshPeriodMilliseconds" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="EventBrokerNotificationBatchSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EventBrokerPollIntervalMilliseconds" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="EventsServiceUrl" serializeAs="String">
                <value>http://CprBroker/Services/Events.asmx</value>
            </setting>
            <setting name="ReturnCityNameInDistrictName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataChangeDequeueBatchSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SubscriptionCriteriaMatchingBatchSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CprDirectExtractImportBatchSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CprDirectReturnsNewestFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CprDirectExtractIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CprDirectDownloadIntervalMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CprDirectPersonConverterBatchSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CprDirectPersonConverterIntervalSeconds" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Modulus11LowLevelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BudgetCheckIntervalMilliseconds" serializeAs="String">
                <value>3600000</value>
            </setting>
        </CprBroker.Config.Properties.Settings>
    </applicationSettings>
</configuration>