<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="CustomizationsFragment">
    <Property Id="Dummy_CustomizationsFragmentRefProp" Value="-"/>

    <PropertyRef Id="Dummy_DatabaseFragmentRefProperty"/>
    <PropertyRef Id="Dummy_ForgetOlderVersionFragmentRefProp"/>

    <Binary Id="InstallersDll" SourceFile="$(var.OutputPath)DPRUpdatesNotificationService.CA.exe"/>

    <WixVariable Id="DB_CreateDatabase" Value="True"/>
    <WixVariable Id="DB_EncryptionKeyEnabled" Value="False"/>
    <WixVariable Id="DB_DomainEnabled" Value="False"/>
    <WixVariable Id="DB_AppIntegratedSecurityAllowed" Value="False"/>
    <WixVariable Id="WEB_CreateWeb" Value="False"/>

    <WixVariable Id="DB_Feature" Value="DPRN"/>
    <WixVariable Id="DB_FeatureNames" Value="DPRN"/>
    <WixVariable Id="CMP_DatabaseRegistry_Guid" Value="{4199C8D8-B393-4ACE-84FC-49FD4B94F435}"/>

    <CustomAction Id="CustomizeDprDatabaseName" Execute="immediate" Property="DB_DATABASENAME" Value="DPR"/>

    <InstallUISequence>
      <Custom Action="CustomizeDprDatabaseName" After="InitializeDatabasePropertiesFromProductName">NOT (REMOVE OR PATCH OR OLDER_VERSION_DETECTED)</Custom>
    </InstallUISequence>


    <WixVariable Id="UpdateLibWixPath" Value="..\UpdateLibWix\"/>
    <WixVariable Id="ServicePath" Value="..\DPRUpdatesNotificationService\"/>
    <WixVariable Id="ServiceTargetName" Value="DPRUpdatesNotificationService"/>

    <WixVariable Id="ForgetOlderVersions" Value="1"/>
  </Fragment>
</Wix>
