<CprBroker.Config.Properties.Settings>
  <setting name="DataProviderMillisecondsTimeout" serializeAs="String">
    <value>30000</value>
  </setting>
  <setting name="DataProviderRefreshPeriodMilliseconds" serializeAs="String">
    <value>600000</value>
  </setting>
</CprBroker.Config.Properties.Settings>
