<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="EventBrokerDirectoriesFragment">
    <Property Id="Dummy_EventBrokerDirectoriesFragmentRefProp" Value="-"/>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="EventBroker" Name="EventBroker">
        <Directory Id="EVENT_Website" Name="Website" >
          <Directory Id="EVENT_bin" Name="bin" />
          <Directory Id="EVENT_Config" Name="Config" />
          <Directory Id="EVENT_Services" Name="Services" />
          <Directory Id="EVENT_Templates" Name="Templates" />
        </Directory>
      </Directory>
    </DirectoryRef>

  </Fragment>

</Wix>