<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>

    <!-- Fail on newer versions-->
    <Condition Message="A newer version of [ProductName] is already installed. Exiting installation.">
      <![CDATA[Installed OR NOT NEWER_VERSION_DETECTED]]>
    </Condition>
    
    <!--.NET Framework-->
    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <!--IIS-->
    <PropertyRef Id="IISMAJORVERSION"/>
    <Condition Message="Install requires IIS 6 or 7.">
      <![CDATA[Installed OR (IISMAJORVERSION AND (IISMAJORVERSION = "#6" OR IISMAJORVERSION = "#7"))]]>
    </Condition>
    <!--
    <Property Id="IIS56" Value="#0">
      <RegistrySearch Id="IIS56InstalledComponents" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Setup\OC Manager\Subcomponents" Type="raw" Name="iis_common" />
    </Property>
    <Property Id="IIS7" Value="#0">
      <RegistrySearch Id="IIS7W3SVC" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp\Components" Type="raw" Name="W3SVC" />
    </Property>
    <Condition Message="This application requires IIS. Please install IIS and then run the installer again.">
      <![CDATA[IIS56 OR IIS7]]>
    </Condition>
    -->

    <!--IIS 6 metabase compatibility-->
    <Property Id="IIS_METABASE_COMPAT">
      <RegistrySearch Id="CheckIISMetabase" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp\Components" Name="ADSICompatibility" Type="raw" />
    </Property>
    <Condition Message="IIS 6 Metabase Compatibility feature must be installed">
      <![CDATA[(VersionNT < 600) OR IIS_METABASE_COMPAT]]>
    </Condition>

  </Fragment>
</Wix>
