<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="DB_ADMININTEGRATEDSECURITY_2222222222222" Value="SSPI"></Property>
    <Property Id="DB_REMOVEDATABASE" Value="False" />

    <UI>
      <Dialog Id="RemoveDatabaseDialog" Width="370" Height="270" Modeless="no" Title="!(loc.RemoveDatabaseDialog_Title)">

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.RemoveDatabaseDialogTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.RemoveDatabaseDialogDescription)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.RemoveDatabaseDialogBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!--Option to remove or keep the database-->
        <Control Id="removeDatabaseGroup" Type="RadioButtonGroup" Property="DB_REMOVEDATABASE" X="10" Y="60" Width="150" Height="40">
          <RadioButtonGroup Property="DB_REMOVEDATABASE">
            <RadioButton Text="No, keep the database" X="0" Y="0" Width="140" Height="17" Value="False"/>
            <RadioButton Text="Yes, remove the datbase" X="0" Y="20"  Width="140" Height="17" Value="True"/>
          </RadioButtonGroup>
        </Control>

        <!--Admin group box-->
        <Control Id="adminGroupBox" Type="GroupBox" Text="Database information" X="10" Y="105" Width="290" Height="125"/>

        <!--Server name-->
        <Control Id="serverLabel" Type="Text" Text="Server name" X="20" Y="120" Width="60" Height="17"/>
        <Control Id="serverEdit" Type="Edit" Property="DB_SERVERNAME" X="80" Y="120" Width="70" Height="17">
          <Condition Action="disable">1</Condition>
        </Control>

        <!--Database name-->
        <Control Id="databaseText" Type="Text" Text="Database name" X="160" Y="120" Width="60" Height="17"/>
        <Control Id="databaseEdit" Type="Edit" Property="DB_DATABASENAME" X="220" Y="120" Width="70" Height="17">
          <Condition Action="disable">1</Condition>
        </Control>

        <!--Admin login type-->
        <Control Id="adminLoginType" Type="RadioButtonGroup" Property="DB_ADMININTEGRATEDSECURITY_2222222222222" X="25" Y="145" Width="150" Height="40">
          <RadioButtonGroup Property="DB_ADMININTEGRATEDSECURITY_2222222222222">
            <RadioButton Text="Integrated windows authentication" X="0" Y="0"  Width="140" Height="17" Value="SSPI"/>
            <RadioButton Text="SQL Server authentication" X="0" Y="20" Width="140" Height="17" Value="dd"/>
          </RadioButtonGroup>
        </Control>

        <!--Admin username-->
        <Control Id="adminUserNameText" Type="Text" Text="User Id" X="30" Y="185" Width="40" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="SSPI"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"SSPI"]]></Condition>
        </Control>
        <Control Id="adminUserNameEdit" Type="Edit" Property="DB_ADMINUSERNAME" X="70" Y="185" Width="95" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="SSPI"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"SSPI"]]></Condition>
        </Control>

        <!--Admin password-->
        <Control Id="adminPasswordText" Type="Text" Text="Password" X="30" Y="205" Width="40" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="SSPI"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"SSPI"]]></Condition>
        </Control>
        <Control Id="adminPasswordEdit" Type="Edit" Property="DB_ADMINPASSWORD" Password="yes" X="70" Y="205" Width="95" Height="17">
          <Condition Action="disable"><![CDATA[DB_ADMININTEGRATEDSECURITY="SSPI"]]></Condition>
          <Condition Action="enable"><![CDATA[DB_ADMININTEGRATEDSECURITY<>"SSPI"]]></Condition>
        </Control>

        <!--Navigation buttons-->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Order="1" Event="DoAction" Value="TestConnection">1</Publish>
          <Publish Order="2" Event="DoAction" Value="ShowFailure"><![CDATA[DB_VALID <> "True"]]></Publish>
        </Control>
        <!--<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />-->

        <Control Id="Cancel" Type="PushButton" Text="Cancel" X="310" Y="245" Width="50" Height="17" Cancel="yes">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

      </Dialog>
    </UI>

    <InstallUISequence>
      <Show Dialog="RemoveDatabaseDialog" After="CostFinalize">
        <![CDATA[
          REMOVE="ALL"
        ]]>
      </Show>
    </InstallUISequence>
  </Fragment>
</Wix>