<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessApplicationDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BusinessApplicationDemo.Properties.Settings>
            <setting name="BusinessApplicationDemo_CPRPersonWS_CPRPersonWS"
                serializeAs="String">
                <value>http://localhost:1550/services/CPRPersonWS.asmx</value>
            </setting>
            <setting name="BusinessApplicationDemo_CPRAdministrationWS_CPRAdministrationWS"
                serializeAs="String">
                <value>http://localhost:1550/services/CPRAdministrationWS.asmx</value>
            </setting>
        </BusinessApplicationDemo.Properties.Settings>
    </applicationSettings>
</configuration>