<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="UpdateServiceFragment">
    <Property Id="Dummy_UpdateServiceFragmentRefProp" Value="-"/>

    <Property Id="PARTSERVICEURL" Value="http://cprbroker/Services/Part.asmx">
      <RegistrySearch Id="RS_CprBrokerServiceUrl" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker" Type="raw" Name="PartServiceUrl"/>
    </Property>
    <Property Id="CPRBROKERSERVICESURL_VALID" Value="-"/>

    <Property Id="BASEAPPLICATIONTOKEN" Value="07059250-E448-4040-B695-9C03F9E59E38" />

    <Property Id="APPLICATIONTOKEN" Value="-" >
      <RegistrySearch Id="RS_ApplicationToken" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker" Type="raw" Name="ApplicationToken"/>
    </Property>

    <Component Id="CMP_UpdatesRegistry" Directory="INSTALLDIR">
      <RegistryKey Id="REG_UpdatesRegistry" Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\CprBroker">
        <RegistryValue Id="REG_PartServiceUrl" KeyPath="yes" Action="write" Type="string" Name="PartServiceUrl" Value="[PARTSERVICEURL]"/>
      </RegistryKey>
    </Component>

    <CustomAction Id="ValidateCprBrokerServicesUrl" BinaryKey="InstallersDll" DllEntry="ValidateCprBrokerServicesUrl" Return="check" Impersonate="yes" />
    <CustomAction Id="ValidateCprBrokerServicesUrl_ShowError" Script="vbscript">
      <![CDATA[msgbox "Invalid service url"]]>
    </CustomAction>
    <InstallExecuteSequence>
      <Custom Action="ValidateCprBrokerServicesUrl" After="AppSearch"><![CDATA[UILevel < 5 AND NOT REMOVE AND NOT PATCH]]></Custom>
    </InstallExecuteSequence>

    <Property Id="ALL_UPDATEPROPERTIES" Value="-" Hidden="yes"/>
    <CustomAction Id="Set_AllUpdateProperties" Property="ALL_UPDATEPROPERTIES" Value="[DeployDatabase];PARTSERVICEURL=[PARTSERVICEURL];BASEAPPLICATIONTOKEN=[BASEAPPLICATIONTOKEN];APPLICATIONTOKEN=[APPLICATIONTOKEN]" />

    <Property Id="RollbackUpdatesService" Hidden="yes" />
    <CustomAction Id="RollbackUpdatesService_" Property="RollbackUpdatesService" Value="[ALL_UPDATEPROPERTIES]" />
    <CustomAction Id="RollbackUpdatesService" BinaryKey="InstallersDll" DllEntry="RollbackUpdatesService" Execute="rollback" Impersonate="no" />

    <Property Id="InstallUpdatesService" Hidden="yes" />
    <CustomAction Id="InstallUpdatesService_" Property="InstallUpdatesService" Value="[ALL_UPDATEPROPERTIES]" />
    <CustomAction Id="InstallUpdatesService" BinaryKey="InstallersDll" DllEntry="InstallUpdatesService" Execute="deferred" Impersonate="no" />

    <Property Id="RemoveUpdatesService" Hidden="yes" />
    <CustomAction Id="RemoveUpdatesService_" Property="RemoveUpdatesService" Value="[ALL_UPDATEPROPERTIES]" />
    <CustomAction Id="RemoveUpdatesService" BinaryKey="InstallersDll" DllEntry="RemoveUpdatesService" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Set_AllUpdateProperties" After="AfterInstallInitialize_DB">1</Custom>

      <Custom Action="RollbackUpdatesService_" After="Set_AllUpdateProperties">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>
      <Custom Action="RollbackUpdatesService" After="DeployDatabase">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>

      <Custom Action="InstallUpdatesService_" After="Set_AllUpdateProperties">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>
      <Custom Action="InstallUpdatesService" After="RollbackUpdatesService">NOT REMOVE AND NOT PATCH AND NOT OLDER_VERSION_DETECTED</Custom>

      <Custom Action="RemoveUpdatesService_" After="Set_AllUpdateProperties"><![CDATA[REMOVE = "ALL" AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>
      <Custom Action="RemoveUpdatesService" Before="RemoveFiles"><![CDATA[REMOVE = "ALL" AND NOT PATCH AND NOT OLDER_VERSION_DETECTED]]></Custom>

    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="Set_AllUpdateProperties">Initializing properties</ProgressText>
      <ProgressText Action="RollbackUpdatesService">Rolling back updates service</ProgressText>
      <ProgressText Action="InstallUpdatesService">Installing updates service</ProgressText>
      <ProgressText Action="RemoveUpdatesService">Removing updates service</ProgressText>
    </UI>
  </Fragment>
</Wix>