<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="CMPGRP_DPRUpdate">
      <Component Id="CMP_DPRUPDATEDUMMY" Directory="DprUpdate">
        <File Id="FILE_DPRUPDATEDUMMY" Source="DprUpdate/Files.wxs"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>