<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UpdateLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DPRUpdateWinTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="FlatFileTrace01" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName=".\DPRUpdatesNotificationService.log" header="" footer="" formatter="SlimFormat01" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{timestamp(FixedFormatISOInternationalDate)} {timestamp(FixedFormatTime)}: {message}"
        name="SlimFormat01" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFileTrace01" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFileTrace01" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <connectionStrings>
    <add name="DPRUpdates" connectionString="Server=DPR;Database=DPR;User ID=DPR-DPRUpdates;Pwd=ghYR6I%%#44sWowQ"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <UpdateLib.Properties.Settings>
      <setting name="CPRBrokerPartServiceUrl" serializeAs="String">
        <value>http://cprbroker/Services/Part.asmx</value>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ApplicationToken" serializeAs="String">
        <value>F6CC382C-DD47-494D-93AD-5FCDD3D97915</value>
      </setting>
    </UpdateLib.Properties.Settings>
    <DPRUpdateWinTest.Properties.Settings>
      <setting name="PollInterval" serializeAs="String">
        <value>10</value>
      </setting>
    </DPRUpdateWinTest.Properties.Settings>
  </applicationSettings>

</configuration>
