<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <PatchCreation Id="12521639-B581-45AF-9A7F-794E67DA41FC" AllowMajorVersionMismatches="no" AllowProductCodeMismatches="no" CleanWorkingFolder="no" WholeFilesOnly="yes" >

    <PatchInformation Description="Updates Person Master to v. 1.2"  Comments="Patch for Person Master" Manufacturer="Magenta ApS"  />
    <PatchMetadata AllowRemoval="yes" Description="Updates Person Master to v. 1.2" ManufacturerName="Magenta ApS" TargetProductName="Person Master" MoreInfoURL="http://magenta-aps.dk" Classification="Update" DisplayName="Person Master Patch 2011-10-04"/>
    
    <Family Name="Sample" DiskId="1000" MediaSrcProp="Sample" SequenceStart="1000">
      <UpgradeImage Id="PMUpgrade" SourceFile="$(var.ProjectDir)$(var.OutDir)en-US\admin\PersonMasterInstaller.msi" >
        <TargetImage  SourceFile="$(var.ProjectDir)Patch\OldMsi\1.0\admin\PersonMasterInstaller.msi" Order="1" Id="Target_1_0" IgnoreMissingFiles="no"/>
        <!--<TargetImage  SourceFile="$(var.ProjectDir)Patch\OldMsi\1.1\admin\PersonMasterInstaller.msi" Order="2" Id="Target_1_1" IgnoreMissingFiles="no"/>
        <TargetImage  SourceFile="$(var.ProjectDir)Patch\OldMsi\1.1.1\admin\PersonMasterInstaller.msi" Order="3" Id="Target_1_1_1" IgnoreMissingFiles="no"/>-->
      </UpgradeImage>
    </Family>

    <PatchSequence PatchFamily="SamplePatchFamily" Sequence="1.2.0.0" Supersede="yes"/>
  </PatchCreation >
</Wix>