<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="WebPatchFragment">
    <Property Id="Dummy_WebPatchFragmentRefProp" Value="-"/>

    <Property Id="PatchWebsite" Hidden="yes"/>
    <CustomAction Id="PatchWebsite" BinaryKey="InstallersDll" DllEntry="PatchWebsite" Execute="deferred" Impersonate="yes" Return="check" HideTarget="yes"/>

    <InstallExecuteSequence>
      <Custom Action="PatchWebsite" After="RollbackWebsite">PATCH OR OLDER_VERSION_DETECTED</Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="PatchWebsite">Patching web</ProgressText>
    </UI>
  </Fragment>
</Wix>