<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUnitTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NUnitTester.Properties.Settings>
            <setting name="NUnitTester_Access_Access" serializeAs="String">
                <value>http://localhost:1551/services/Access.asmx</value>
            </setting>
            <setting name="NUnitTester_CPRAdministrationWS_CPRAdministrationWS"
                serializeAs="String">
                <value>http://localhost:1551/services/CPRAdministrationWS.asmx</value>
            </setting>
            <setting name="NUnitTester_CPRPersonWS_CPRPersonWS" serializeAs="String">
                <value>http://localhost:1551/services/CPRPersonWS.asmx</value>
            </setting>
            <setting name="NUnitTester_Part_Part" serializeAs="String">
                <value>http://localhost:1551/Services/Part.asmx</value>
            </setting>
        </NUnitTester.Properties.Settings>
    </applicationSettings>
</configuration>