<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CprBroker.EventBroker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.EventBroker.Properties.Settings.PartEventBrokerConnectionString"
            connectionString="Data Source=10.20.1.20;Initial Catalog=PartEventBroker;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CprBroker.EventBroker.Properties.Settings>
            <setting name="CprBroker_EventBroker_NotificationService_Notification"
                serializeAs="String">
                <value>http://localhost:1552/Services/Notification.asmx</value>
            </setting>
            <setting name="CprBroker_EventBroker_EventsService_Events" serializeAs="String">
                <value>http://localhost:1551/Services/Events.asmx</value>
            </setting>
        </CprBroker.EventBroker.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>