<connectionStrings>
  <add name="CprBroker.Config.Properties.Settings.EventBrokerConnectionString" connectionString="Data Source=SQLServer;Initial Catalog=PartEventBroker;User ID=cpr;Password=cpr" />
  <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString" connectionString="Data Source=SQLServer;Initial Catalog=PART;User ID=cpr;Password=cpr"/>
</connectionStrings>

