<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="CPRMapperDB" />
  <connectionStrings>
    <add name="CPRMapperDB" connectionString="Server=localhost\sqlexpress;Database=PersonMaster;User ID=PMUser;Pwd=mostSecretPswd" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior01">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="insecure">
          <security mode="Message">
            <message clientCredentialType ="Windows"/>
          </security>
        </binding>
        <binding name="secure">
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior01" name="PersonmasterServiceLibrary.BasicOp">
        <clear />
        
        <!--Remove this line to use ASP.NET access control in production -->
        <endpoint address="PersonMasterService12" binding="wsHttpBinding" bindingConfiguration="insecure" name="wsBasicHttpInSecure" contract="PersonmasterServiceLibrary.IBasicOp" />
        
        <!--Uncomment this line to enable SSL and/or use ASP.NET access control in production -->
        <!--<endpoint address="PersonMasterService12" binding="wsHttpBinding" bindingConfiguration="secure" name="wsBasicHttpSecure" contract="PersonmasterServiceLibrary.IBasicOp" />-->
        
        <!--Remove this line to enable SSL and/or use ASP.NET access conrol in production -->
        <endpoint binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/personmaster" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled ="true" aspNetCompatibilityEnabled="true"/>    
  </system.serviceModel>
</configuration>
