<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PerformanceTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PerformanceTests.Properties.Settings>
            <setting name="PerformanceTests_Part_Part" serializeAs="String">
                <value>http://localhost:1551/Services/Part.asmx</value>
            </setting>
        </PerformanceTests.Properties.Settings>
    </applicationSettings>
</configuration>