<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.Config.DataProviderKeysSection, CprBroker.Utilities" />
      <section name="dataProviders" type="CprBroker.Utilities.Config.DataProvidersConfigurationSection, CprBroker.Utilities" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CprBroker.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Configuration of Data providers and encryption key-->
  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>orOInV68nJDoSt+dSTXHdZ6gRySF73a4eltX1k5Uq+Go1SC+kDaRIyJY1Qz/c0lKD5es68pMMUs62iECACuvYvU4EWXMEeyUJzr7amPlXaK8tEUfL+MwWxxbN30/r8B5opuEktY0yItu/U+UBEzXZCsmI2YhiltpYkUOI3c94ts=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>Ged9kYmrJAWIImOVcwm0WTPPtFneBFclFYIaBjPBCu923SKdYJVhYLfPJ8lOiafKm+YlsLDlxwhBLTGru9ncImsYVx/wi13T3kmspeF9OIkY3C1hdJcT8PkfPOUYvXk30DnfFd9JKDdSDMrQmzFZ+lmOx2k02njytgpYACkXgt8viPIfk8iFjD+0ueQbWPmfeM6WTpmRsT6F9qXBttNRUgV+l/o9I2iRM3FJG4ojKs8Wk++juSIyC3stnAZQ1G8A+/p1yauJcSfqZGARkwvVB+tLCSMIbitnBysgW1GSMle6knmPZXrJUXgKH9s7YVnjBeXf+j3QtfvVW8+klS7EdBBy4+DeaZGIND9HA4kLRURgw7FWH5mCjs/p+Bi3Kz0lda2Be6m8D1y2fIu7pdxvBtRlFUCKpx5GHR5pi3g+21VEiVaGML9r+ZeN5VSiViVi2MM19gnUdzg=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
    <dataProviders>
      <knownTypes>
        <!--External types-->
        <add type="CprBroker.Providers.DPR.DprDatabaseDataProvider, CprBroker.Providers.DPR" />
        <add type="CprBroker.Providers.KMD.KmdDataProvider, CprBroker.Providers.KMD" />
        <add type="CprBroker.Providers.E_M.E_MDataProvider, CprBroker.Providers.E_M" />
        <add type="CprBroker.Providers.CPRDirect.CPRDirectExtractDataProvider, CprBroker.Providers.CPRDirect" />
        <add type="CprBroker.Providers.CPRDirect.CPRDirectClientDataProvider, CprBroker.Providers.CPRDirect" />
        <add type="CprBroker.Providers.CprServices.CprServicesDataProvider, CprBroker.Providers.CprServices" />
        <add type="CprBroker.Providers.ServicePlatform.ServicePlatformDataProvider, CprBroker.Providers.ServicePlatform" />
        <add type="CprBroker.Providers.PersonMaster.PersonMasterDataProvider, CprBroker.Providers.PersonMaster" />
        <!--Internal types-->
        <add type="CprBroker.Providers.Local.Search.LocalSearchDataProvider, CprBroker.Providers.Local.Search" />
        <add type="CprBroker.Providers.Local.DatabaseDataProvider, CprBroker.Providers.Local" />
        <add type="CprBroker.Engine.Local.AdminDataProvider, CprBroker.Engine" />
        <add type="CprBroker.Engine.Events.DataChangeEventManager, CprBroker.PartInterface" />
        <add type="CprBroker.Engine.Local.ApplicationDataProvider, CprBroker.Engine" />
        <add type="CprBroker.Engine.Ping.PingDataProvider, CprBroker.Engine" />
      </knownTypes>
    </dataProviders>
  </dataProvidersGroup>
  <appSettings />
  <connectionStrings configSource="Config\connectionStrings.config" />
  <applicationSettings>
    <CprBroker.Config.Properties.Settings configSource="Config\applicationSettings.config" />
  </applicationSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="DefaultTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--Sample for access restriction for web services-->
  <!--<location path="Services/Part.asmx/Read">
        <system.web>
            <authorization >
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->
  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration configSource="Config\loggingConfiguration.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.2.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="/mvc" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>