<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CVR.Properties.Settings>
            <setting name="CVR_dk_cvr_www_CVRWebService" serializeAs="String">
                <value>https://online.cvr.dk/soap/servlet/messageservlet</value>
            </setting>
        </CVR.Properties.Settings>
    </applicationSettings>
</configuration>