<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>

    <sectionGroup name="dataProvidersGroup">
      <section name="dataProviderKeys" type="CprBroker.Utilities.DataProviderKeysSection, CprBroker.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <section name="dataProviders" type="CprBroker.Engine.DataProvidersConfigurationSection, CprBroker.Engine"/>
    </sectionGroup>
    
  </configSections>

  <!-- Configuration of Microsoft Entrprise Library Logging-->
  <loggingConfiguration configSource="loggingConfiguration.config" />

  <!-- Configuration of Data providers and encryption key-->
  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>orOInV68nJDoSt+dSTXHdZ6gRySF73a4eltX1k5Uq+Go1SC+kDaRIyJY1Qz/c0lKD5es68pMMUs62iECACuvYvU4EWXMEeyUJzr7amPlXaK8tEUfL+MwWxxbN30/r8B5opuEktY0yItu/U+UBEzXZCsmI2YhiltpYkUOI3c94ts=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>Ged9kYmrJAWIImOVcwm0WTPPtFneBFclFYIaBjPBCu923SKdYJVhYLfPJ8lOiafKm+YlsLDlxwhBLTGru9ncImsYVx/wi13T3kmspeF9OIkY3C1hdJcT8PkfPOUYvXk30DnfFd9JKDdSDMrQmzFZ+lmOx2k02njytgpYACkXgt8viPIfk8iFjD+0ueQbWPmfeM6WTpmRsT6F9qXBttNRUgV+l/o9I2iRM3FJG4ojKs8Wk++juSIyC3stnAZQ1G8A+/p1yauJcSfqZGARkwvVB+tLCSMIbitnBysgW1GSMle6knmPZXrJUXgKH9s7YVnjBeXf+j3QtfvVW8+klS7EdBBy4+DeaZGIND9HA4kLRURgw7FWH5mCjs/p+Bi3Kz0lda2Be6m8D1y2fIu7pdxvBtRlFUCKpx5GHR5pi3g+21VEiVaGML9r+ZeN5VSiViVi2MM19gnUdzg=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
    <dataProviders>
      <knownTypes>
        <!--External types-->
        <add type="CprBroker.Providers.DPR.DprDatabaseDataProvider, CprBroker.Providers.DPR"/>
        <add type="CprBroker.Providers.KMD.KmdDataProvider, CprBroker.Providers.KMD"/>
        <add type="CprBroker.Providers.E_M.E_MDataProvider, CprBroker.Providers.E_M"/>
        <add type="CprBroker.Providers.CPRDirect.CPRDirectDataProvider, CprBroker.Providers.CPRDirect"/>
        <add type="CprBroker.Providers.PersonMaster.PersonMasterDataProvider, CprBroker.Providers.PersonMaster"/>
        <!--Internal types-->
        <add type="CprBroker.Providers.Local.DatabaseDataProvider, CprBroker.Providers.Local"/>
        <add type="CprBroker.Engine.Local.AdminDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Events.DataChangeEventManager, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Local.ApplicationDataProvider, CprBroker.Engine"/>
        <add type="CprBroker.Engine.Ping.PingDataProvider, CprBroker.Engine"/>
      </knownTypes>
    </dataProviders>
  </dataProvidersGroup>
</configuration>