<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CprBroker.Providers.CPRDirect.Properties.Settings.CPRDirectConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CPRDirect;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>